<div class="component-title">
  <h1>7. Referencias</h1>
  <div class="line-component-title"></div>
</div>

<div class="title-separator"></div>

<h4>7.1. Requerimientos de arquitectura.</h4>

<div class="subtitle-separator"></div>

<ul>
  <li>
    <b>Leff2001</b>, Leffingwed, D. “Aile Software Requeriment”. Pearson Education, 2011
  </li>
  <li>
    <b>Cohn20014</b>, Cohn, Mike. “User Stories Applied”, Addison-Wesley, 2004
  </li>
  <li>
    <b>Bass2013</b>, Bass, Len. Clements, Paul. Kazman, Rick. “Software Architecture in Practice”, Addison-Wesley, Third Edition, 2013.
  </li>
  <li>
    <b>Ambler2011</b>, Disciplined Agile Delivery: A Practitioner's Guide to Agile Software Delivery in the Enterprise. Scott Ambler, Mark Lines. IBM Press
  </li>
</ul>

<div class="subtitle-separator"></div>

<h4>7.2. Atributos De Calidad.</h4>

<div class="subtitle-separator"></div>

<ul>
  <li>
    <b>Bass2013</b>, Bass, Len. Clements, Paul. Kazman, Rick. “Software Architecture in Practice”, Addison-Wesley, Third Edition, 2013.
  </li>
  <li>
    <b>Roz2011</b>, Eoin Woods, Nick Rozanski. Software system architecture: Working with stakeholders Using Viewpoints and Perspectives (2nd Edtion).
  </li>
</ul>

<div class="subtitle-separator"></div>

<h4>7.3. Vista De Arquitectura</h4>

<div class="subtitle-separator"></div>

<ul>
  <li>
    <b>Bass2013</b>, Bass, Len. Clements, Paul. Kazman, Rick. “Software Architecture in Practice”, Addison-Wesley, Third Edition, 2013.
  </li>
  <li>
    <b>Fair2010</b>, Fairbanks, G. Just Enough Software Architecture: A Risk-Driven Approach. 2010.
  </li>
  <li>
    <b>Roz2011</b>, Eoin Woods, Nick Rozanski. Software system architecture: Working with stakeholders Using Viewpoints and Perspectives (2nd Edtion).
  </li>
</ul>

<div class="subtitle-separator"></div>

<h4>7.4. Estilos y Tácticas De Arquitectura</h4>

<div class="subtitle-separator"></div>

<ul>
  <li>
    <b>Bass2013</b>, Bass, Len. Clements, Paul. Kazman, Rick. “Software Architecture in Practice”, Addison-Wesley, Third Edition, 2013.
  </li>
  <li>
    <b>Fair2010</b>, Fairbanks, G. Just Enough Software Architecture: A Risk-Driven Approach. 2010.
  </li>
</ul>
