<div class="component-title">
  <h1>Análisis Y Conclusiones Del Experimento Sprint 03</h1>
  <div class="line-component-title"></div>
</div>

<div class="title-separator"></div>

En esta sección presentamos los análisis de los resultados obtenidos en la experimentación de los puntos de sensibilidad que
definimos para el sprint 03 y que están enfocado en el atributo de calidad de disponibilidad.

<div class="subtitle-separator"></div>

<h4>Análisis Y Conclusiones Del Experimento De Disponibiliad</h4>

<br>

Una vez terminado el experimento consideramos que los resultados fueron satisfactorios y se va a dejar la arquitectura como está.
Es evidente que al ser una arquitectura orientada a microservicios, si uno de ellos falla por algún motivo, el resto no se ve
afectado, favoreciendo así la disponibilidad. Además los componentes de monitoreo son claves para identificar a tiempo los problemas
una vez se configuran las alarmas y alertas como se debe. Por el otro lado, la cola de mensajes no sólo ayuda a tener una
arquitectura escalable, sino que ayuda a mantener consistencia e integridad de la información. Al haber bajado el servicio de
búsquedas y volverlo a prender, todos los mensajes generados por el producer, en este caso el microservicio de booking, no se pierden.
Son almacenados hasta que el consumidor, el microservicio de search, vuelva a estar en línea y actualice el estado de los
parqueaderos con base en esos mensajes.
