<div class="component-title">
  <h1>5.3.5. User Microservice</h1>
  <h3>Vista De Información</h3>
  <div class="line-component-title"></div>
</div>

<div class="title-separator"></div>

<h5>5.3.5.1. Modelo De Entidad Relación</h5>

<p class="text">
  En este modelo de entidad relación presentamos la relación del usuario con los servicios buscar, el usuario puede realiza de
  una a muchas búsquedas que retorna la disponibilidad del parqueadero junto con la fecha de actualización y un id. Por otro,
  se contempla la posibilidad de que el usuario tenga 1 o muchos vehículos.
</p>

<div class="subtitle-separator"></div>

<table class="table-diagrama" width="100%">
  <tr>
    <th>Diargrama - Modelo De Entidad Relación</th>
  </tr>
  <tr>
    <td width="100%" align="center">
      <div class="img1">
        <img src="./assets/img/user/user5.png" alt="Vista De Información User Microservice" >
      </div>
    </td>
  </tr>
</table>
