<div class="component-title">
  <h1>Retrospectiva Sprint 1</h1>
  <div class="line-component-title"></div>
</div>

<div class="title-separator"></div>

A continuación presentamos la retrospectiva del sprint 1, donde se analizaron cada uno de los aspectos funcionales
del equipo de desarrollo de la arquitectura.

<div class="subtitle-separator"></div>

<h4>Aspectos que no han funcionado correctamente en el equipo de trabajo y los planes de corrección</h4>

<div class="subtitle-separator"></div>

<ul>
  <li><b>Reuniones virtuales:</b> <br> Se presentaron dificultades para cumplir con los horarios lo que ha llevado a Procrastinar las actividades retrasando las entregas</li>
  <li><b>Asignación de responsabilidades:</b> <br> Durante el inicio del sprint 01, se presentaron atrasos en las entregas de las responsabilidades asignadas</li>
</ul>

<div class="subtitle-separator"></div>

<h5>Planes de corrección</h5>

<br>

Para las reuniones virtuales nos comprometimos en reunirnos los sábados en la universidad para agilizar las actividades y presentar los desarrollos asignados a cada miembro del equipo.

Para la entrega de las actividades asignadas se definió mostrar avances en una documentación compartida en Outlook de esta forma podemos ayudarnos a resolver dudas y a controlar las actividades asignadas.

<div class="subtitle-separator"></div>

<h4>Aspectos que funcionaron bien en el grupo de trabajo</h4>

<br>

<ul>
  <li>Reunion prensenciales.</li>
  <li>Cumplimientos de responsabilidades asignadas.</li>
  <li>Documentación compartida en outlook</li>
  <li>Desarrollo de la documentación del proyecto</li>
</ul>
