<div class="component-title">
  <h1>Resultados Del Experimento Sprint 03</h1>
  <div class="line-component-title"></div>
</div>

<div class="title-separator"></div>

En esta sección presentamos los resultados obtenidos del experimento de los puntos sensibilidad que definimos para el
sprint 03 y que están enfocados en el atributo de calidad de disponibulidad.

<div class="subtitle-separator"></div>

<h4>Análisis De Los Resultados Obtenidos</h4>

<div class="subtitle-separator"></div>

El experimento se realizó ejecutando las pruebas al servicio de creación de reservas de parqueaderos, para comprobar su
disponibilidad en caso de fallo de alguno de sus componentes dependientes en la transacción.

<div class="subtitle-separator"></div>

<div class="img1" style="text-align: center;">
  <img src="./assets/img/sprint3/sprint32.png" alt="Carga de concurrencia" width="90%">
</div>

<div class="subtitle-separator"></div>

En esta grafica mostramos la disponibilidad del servicio de reservas en la ejecución de la prueba, notamos que en
ningún momento presentó o se evidenció algún fallo.

<div class="subtitle-separator"></div>

<div class="img1">
  <img src="./assets/img/sprint3/sprint33.png" alt="Booking Rest Request Search" width="90%">
</div>

<div class="subtitle-separator"></div>

<div class="img1">
  <img src="./assets/img/sprint3/sprint34.png" alt="Booking Rest Request Search" width="90%">
</div>

<div class="subtitle-separator"></div>

Como parte del experimento y para demostrar su disponibilidad forzamos la detención del servicio de search,
cabe resaltar que este se encuentra asociado al microservicio de reservas de parqueaderos como se explicó en la vista
funcional y aclaramos que esta comunicación es asíncrona. Damos como resultado, aunque se detuvo el servicio de search
la cola de mensaje continuó almacenando los mensajes hasta que se pudo restablecer, adicionalmente el componente de search
está respondiendo en la búsqueda porque cuenta con un caché que permite dicha disponibilidad.

<div class="subtitle-separator"></div>

<div class="img1">
  <img src="./assets/img/sprint3/sprint35.png" alt="CMD NODE" width="90%">
</div>

<div class="subtitle-separator"></div>

En el sistema de colas evidenciamos la baja del servicio y la continuidad de la comunicación cuando fue restablecido el servicio.

<div class="subtitle-separator"></div>

<div class="img1">
  <img src="./assets/img/sprint3/sprint36.png" alt="RabitMQ" width="90%">
</div>

<div class="subtitle-separator"></div>

<div class="img1">
  <img src="./assets/img/sprint3/sprint37.png" alt="Booking Rest Request Search" width="90%">
</div>

<div class="subtitle-separator"></div>

Con estas pruebas realizadas evidenciamos qué aunque fallen algunos componentes de del sistema, podremos asegurar que
las transacciones de mayor criticidad puedan ser ejecutadas y terminadas sin ningún contratiempo, logrando una alta disponibilidad
del sistema, de forma que siempre lograremos que el usuario se encuentre tranquilo que todas sus solicitudes fueron atendidas
aunque algún componente se encuentre fallando pero teniendo la plena seguridad que cuando llegue a su estado normal vuelve a
retomar las operaciones que tenía represadas.

<div class="subtitle-separator"></div>


<div class="img1">
  <img src="./assets/img/sprint3/sprint38.png" alt="Booking Rest Request Search" width="90%">
</div>

<div class="subtitle-separator"></div>

Como última parte de la prueba evidenciamos los monitores, en este caso colocamos una alerta que si superaba una capacidad de
procesamiento del 80% nos notificara via correo electrónico, esto con el fin de poder reaccionar y monitorear el proceso para
evitar una posible falla y tener el servicio disponible todo el tiempo.
