<div class="component-title">
  <h1>6. Acrónimos Y Abreviaturas</h1>
  <div class="line-component-title"></div>
</div>

<div class="title-separator"></div>

En esta sección presentamos las convenciones más relevantes y usadas en el documento de arquitectura con el objetivo
de ayudar al lector a entender los modelos presentados para el diseño de la arquitectura el sistema NIDOO.

<div class="subtitle-separator"></div>

<table>
  <thead>
    <tr>
      <th>Convención</th>
      <th>Descripción</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="img1">
          <img src="./assets/img/conveciones/conv8.png" alt="" >
        </div>
      </td>
      <td>Elemento que provee una interfaz del sistema</td>
    </tr>
    <tr>
      <td>
        <div class="img1">
          <img src="./assets/img/conveciones/conv3.png" alt="" >
        </div>
      </td>
      <td>Elemento que consume una interfaz del sistema</td>
    </tr>
    <tr>
      <td width="30%">
        <div class="img1">
          <img src="./assets/img/conveciones/conv4.png" alt="" >
        </div>
      </td>
      <td width="70%">Es una persona, sistema o dispositivo que interactúa con el sistema, recibiendo resultados a partir de un
        evento o requerimiento solicitado al sistema. Por lo general representa un rol que puede ser el cliente o
        el oferente.
      </td>
    </tr>
    <tr>
      <td>
        <div class="img1">
          <img src="./assets/img/conveciones/conv2.png" alt="" >
        </div>
      </td>
      <td>Conector de comunicación de mensajes</td>
    </tr>
    <tr>
      <td>
        <div class="img1">
          <img src="./assets/img/conveciones/conv6.png" alt="" >
        </div>
      </td>
      <td>Conector de transferencia de datos asíncronas</td>
    </tr>
    <tr>
      <td>
        <div class="img1">
          <img src="./assets/img/conveciones/conv5.png" alt="" >
        </div>
      </td>
      <td>Conector de transferencia de datos síncronos</td>
    </tr>
    <tr>
      <td>
        <div class="img1">
          <img src="./assets/img/conveciones/conv1.png" alt="" >
        </div>
      </td>
      <td>Es los modelos definidos para el sistema de este documento las instancias son derivación de un microservicio.</td>
    </tr>
    <tr>
      <td>
        <div class="img1">
          <img src="./assets/img/conveciones/conv7.png" alt="" >
        </div>
      </td>
      <td>Representa un requerimiento funcional del sistema o la representación de un proceso del negocio.
        Este interactúa con otros componentes ya sean internos o externos al sistema.
      </td>
    </tr>
  </tbody>
</table>
