<div class="component-title">
  <h1>5.3.2. Search Microservice</h1>
  <h3>Vista De Información</h3>
  <div class="line-component-title"></div>
</div>

<div class="title-separator"></div>

<h5>5.3.2.1. Modelo De Entidad Relación</h5>

<p class="text">
  Este es el modelo más sencillo. Al ser una base de datos no relacional, sólo se va a tener un tipo de documento
  o colección de documentos, el ParquingLot. Éste tiene la información necesaria para poder consultar los parqueaderos
  disponibles con base en los criterios descritos en la ASR 11. Los siguientes atributos van a ir indexados para agilizar las
  búsquedas: zone, vehicleType y location.
</p>

<div class="subtitle-separator"></div>

<table class="table-diagrama" width="100%">
  <tr>
    <th>Diargrama - Modelo De Entidad Relación</th>
  </tr>
  <tr>
    <td width="100%" align="center">
      <div class="img1">
        <img src="./assets/img/search/imgsr4.png" alt="Vista De Información Search Microservice" >
      </div>
    </td>
  </tr>
</table>
