<div class="component-title">
  <h1>Retrospectiva Sprint 3</h1>
  <div class="line-component-title"></div>
</div>

<div class="title-separator"></div>

A continuación presentamos la retrospectiva del sprint 3, donde se analizaron cada uno de los aspectos funcionales
del equipo de desarrollo de la arquitectura.

<div class="subtitle-separator"></div>

<h4>Aspectos que no han funcionado correctamente en el equipo de trabajo y los planes de corrección</h4>

<div class="subtitle-separator"></div>

<ul>
  <li>
    <b>Reuniones virtuales:</b> <br>
  Se siguieron realizando reuniones virtuales, pero las asistencias de cada compañero a veces se dificultad debido a los
  diferentes horarios de trabajo y estudio que cada uno realiza, lo que no ha permitido empezar en los horarios establecidos y
  a algunas veces se cancela la reunión.
  </li>
  <li>
    <b>Documento de definición de actividades:</b><br>
    Se creó un documento donde se colocan las decisiones del diseño del sprint actual y las actividades de cada miembro, sin embargo
    este documento presentó errores de actualización y algunas asignaciones de responsabilidades se perdieron.
  </li>
</ul>

<div class="subtitle-separator"></div>

<h5>Planes de corrección</h5>

<br>

Como se comentó en la retrospectiva del Sprint 01, seguimos realizando reuniones físicas los sábados en la universidad para
comenzar los inconvenientes de las reuniones virtuales. Esto debido a que las reuniones virtuales siempre debemos hacerlas para
adelantar trabajo durante la semana.

<br><br>
También se definieron reuniones semanales donde se realizan decisiones de arquitectura para definir las actividades a realizar y las
responsabilidades de cada miembro del equipo de trabajo.

<div class="subtitle-separator"></div>

<h4>Aspectos que funcionaron bien en el grupo de trabajo</h4>

<br>

<ul>
  <li>Reunion prensenciales.</li>
  <li>Cumplimientos de responsabilidades asignadas.</li>
  <li>Documentación compartida en outlook</li>
  <li>Desarrollo de la documentación del proyecto</li>
  <li>Acualizaciones del documento de arquitectura</li>
  <li>Reunión semanal de decisiones sobre el diseño del sprint</li>
</ul>
