<div class="component-title">
  <h1>Retrospectiva Sprint 4</h1>
  <div class="line-component-title"></div>
</div>

<div class="title-separator"></div>

A continuación presentamos la retrospectiva del sprint 4, donde se analizaron cada uno de los aspectos funcionales
del equipo de desarrollo de la arquitectura.

<div class="subtitle-separator"></div>

<h4>Aspectos que no han funcionado correctamente en el equipo de trabajo y los planes de corrección</h4>

<div class="subtitle-separator"></div>

<ul>
  <li>
    <b>Documento de definición de actividades:</b><br>
    Se creó un documento donde se colocan las decisiones del diseño del sprint actual y las actividades de cada miembro, sin embargo
    este documento presentó errores de actualización y algunas asignaciones de responsabilidades se perdieron.
  </li>
</ul>

<div class="subtitle-separator"></div>

<h5>Planes de corrección</h5>

<br>

Como se comentó en la retrospectiva de los sprint anteriores, seguimos realizando reuniones físicas los sábados en la universidad donde además
se le hace seguimiento al documento de definición de actividades para reparar las actividades que no se lograron durante esa semana de actividad.

<div class="subtitle-separator"></div>

<h4>Aspectos que funcionaron bien en el grupo de trabajo</h4>

<br>

<ul>
  <li>Reunion prensenciales.</li>
  <li>Cumplimientos de responsabilidades asignadas.</li>
  <li>Documentación compartida en outlook</li>
  <li>Desarrollo de la documentación del proyecto</li>
  <li>Acualizaciones del documento de arquitectura</li>
  <li>Reunión semanal de decisiones sobre el diseño del sprint</li>
</ul>
