<div class="component-title">
  <h1>5.5.3. Booking Microservice</h1>
  <h3>Vista De Despliegue</h3>
  <div class="line-component-title"></div>
</div>

<div class="title-separator"></div>

<h5>5.5.3.1. Modelo De Asignación</h5>

<p class="text">
  A nivel de infraestructura, los componentes pueden escalar vertical y horizontalmente ya que la cantidad de
  instancias aumentan dinámicamente dependiendo de la demanda y otros parámetros configurables en heroku. Las bases de datos y
  los caches son clusters y cada uno de los microservicios está detrás de un load balancer para balancear la demanda y favorecer la
  escalabilidad y la disponibilidad.
</p>

<div class="subtitle-separator"></div>

<table class="table-diagrama">
  <tr>
    <th>Convenciones</th>
    <th>Diargrama - Modelo De Asignación</th>
  </tr>
  <tr>
    <td width="20%">
      <div class="img1">
        <img src="./assets/img/user/user2.png" alt="Vista De Despliegue microservicio Search" width="90%">
        <img src="./assets/img/user/user4.png" alt="Vista De Despliegue microservicio Search" width="90%">
      </div>
    </td>
    <td width="80%">
      <div class="img1">
        <img src="./assets/img/booking/booking2.png" alt="Vista De Despliegue microservicio Booking" width="90%">
      </div>
    </td>
  </tr>
</table>





