<div class="component-title">
  <h1>ASRs Consideradas En El Sprint 4</h1>
  <div class="line-component-title"></div>
</div>

<div class="title-separator"></div>

En esta sección presentamos los ASR consideradas para satisfacer los requerimientos de seguridad  de la arquitectura.
El objetivo es determinar los puntos de sensibilidad para determinar si las decisiones de arquitectura que se han
tomado van por buen camino.

<div class="subtitle-separator"></div>

<h5>ASRs Consideradas</h5>

<br>

<table>
  <thead>
  <tr>
    <th>
      Código
    </th>
    <th>
      Descripción
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><b>ASR08</b></td>
    <td>Como oferente, cuando registre un parqueadero, dado que el sistema opera normalmente, quiero que se cobre la tarifa estipulada para la zona en la que se encuentra. Ésta no debe ser cambiada por alguien no autorizado y siempre se debe cobrar el valor configurado.</td>
  </tr>
  <tr>
    <td><b>ASR13</b></td>
    <td>Como usuario cuando esté ingresando medios de pago en el sistema, dado que este funciona normalmente, quiero que me aseguren que mi información estará protegida y nadie más podrá acceder a ella el 100% de las veces.</td>
  </tr>
  <tr>
    <td><b>ASR23</b></td>
    <td>Como oferente, cuando quiera pagar mi parqueadero dado que el sistema opera normalmente, quiero que la información de mis métodos de pago esté asegurada para que nadie pueda accederla. </td>
  </tr>
  <tr>
    <td><b>ASR24</b></td>
    <td>Como administrador del sistema, cuando alguien quiera acceder a la base de datos de sistema dado que opera normalmente, quiero que contemos con las políticas de seguridad de accesos, para evitar fugas de información.</td>
  </tr>
  </tbody>
</table>
