<div class="component-title">
  <h1>4.1. Atributos De Calidad</h1>
  <div class="line-component-title"></div>
</div>

<div class="title-separator"></div>

En esta sección presentaremos los atributos de calidad que se evaluaran para el desarrollo de la arquitectura
del sistema de NIDOO. Por requerimientos del curso se trabajarán los atributos de Latencia, Escalabilidad, Disponibilidad,
Concurrencia  y Confidencialidad.

<div class="subtitle-separator"></div>

<h5>4.1.1. Latencia</h5>

<div class="subtitle-separator"></div>

<p class="text">
  Es el tiempo transcurrido entre la ocurrencia de un evento y la ocurrencia de dicho evento.
  <a href="#" routerLink="/references"><b>Bass2013</b></a>
  <br><br>
  Para el sistema NIDOO la latencia será tenida en cuenta para los componentes que hacen parte de los requisitos de
  solicitud de reservas de parqueadero, búsqueda de parqueaderos y autenticación, se realizaron experimentos sobre 
  los diseños realizados para esta arquitectura que pueden ser consultados en el sprint 01 de documento (<a
  href="#" routerLink="/rexSprint1"><b>Sprint 01</b></a>).
</p>

<div class="subtitle-separator"></div>

<h5>4.1.2. Escalabilidad</h5>

<div class="subtitle-separator"></div>

<p class="text">
  La capacidad de incrementar la carga de trabajo de un sistema sin perjudicar sus tiempos de respuesta y su latencia en un
  ambiente de ejecución específico.
  <a href="#" routerLink="/references"><b>Bass2013</b></a>
  <br><br>
  Para el sistema NIDOO la escalabilidad nos permitirá evaluar la recurrencia del sistema, esto lo desarrollamos a
  través de un experimento que se puede consultar en el sprint 02 del documento. En este experimento el sistema pudo
  escalar horizontal y verticalmente bajo demanda gracias a la arquitectura orientada a microservicios. Descubrimos que
  existe un cuello de botella en la base de datos cuando se consultas parqueaderos por ubicación. Al igual que en el atributo de
  latencia evaluamos requerimientos de autenticación, búsqueda de parqueaderos y reservas de parqueaderos.
  (<a href="#" routerLink="/rexpSprint2"><b>Sprint 02</b></a>).
</p>

<div class="subtitle-separator"></div>

<h5>4.1.3. Disponibilidad</h5>

<div class="subtitle-separator"></div>

<p class="text">
  Propiedad del software que indica que está listo para realizar sus tareas cuando se es necesario.
  <a href="#" routerLink="/references"><b>Bass2013</b></a>
  <br><br>
  Actualmente se están desarrollando los experimentos para disponibilidad y se actualizará la información sobre
  este atributo de calidad para el documento.
</p>

<div class="subtitle-separator"></div>

<h5>4.1.4. Seguridad</h5>

<div class="subtitle-separator"></div>

<p class="text">
  Medida de la habilidad de un sistema para proteger datos e información de uso no autorizado entanto que sigue permitiendo su
  uso y acceso a las personas y sistemas autorizados.
  <a href="#" routerLink="/references"><b>Bass2013</b></a>
  <br><br>
  Actualmente no se ha desarrollado la planeación para evaluar este atributo de calidad, se tiene pensado definir el
  diseño para el sprint 04.
</p>
