<div class="component-title">
  <h1>5.2.5. User Microservice</h1>
  <h3>Vista Funcional</h3>
  <div class="line-component-title"></div>
</div>

<div class="title-separator"></div>

<h4>5.2.5.1. Latencia</h4>
<div class="subtitle-separator"></div>

<h5>5.2.5.1.1. Modelo Component Conector</h5>

<p class="text">
  En este modelo vemos cómo se comunican los diferentes componentes del microservicio de usuario de parqueaderos.
  Se puede notar a través de diferentes query utilizando graphql al resolver, un Apollo Server,
  quien se comunica con el componente encargado de hablar mediante un ORM con la base de datos y el caché para
  recuperar la información. El caché solo se aplicará para realizar consultas al usuario y recuperar contraseña,
  en caso contrario se realizará una invocación directa a la base de datos para que resuelva la operación.
</p>

<div class="subtitle-separator"></div>

<table>
  <tr>
    <th>Convenciones</th>
    <th>Diargrama - Componente Conector</th>
  </tr>
  <tr>
    <td width="20%">
      <div class="img1">
        <img src="./assets/img/user/user2.png" alt="Vista funcional microservicio User" width="90%">
      </div>
    </td>
    <td width="80%">
      <div class="img1">
        <img src="./assets/img/user/user1.png" alt="Vista funcional microservicio User" width="90%">
      </div>
    </td>
  </tr>
</table>

<div class="subtitle-separator"></div>

<h4>5.2.5.2. Disponibilidad</h4>
<div class="subtitle-separator"></div>

<h5>5.2.5.1.2.1. Modelo Component Conector</h5>

<p class="text">
  En este modelo utilizamos diferentes componentes del microservicio de usuario de parqueaderos para conseguir la disponibilidad
  ofrecida dentro de los ARS, para esto contamos con un componente de monitor que nos ofrece el registro de los consumos y
  las cantidades de recursos que se utilizan dentro del microservicio con el fin de comprobar si el microservicio está trabajando
  correctamente o se están degradando los componentes internos que utiliza, el otro componente es un log de registro que se comunica
  con el componente del microservicio a través del sistema de colas para evitar que si se presenta algún fallo en el log presentamos
  afectaciones en el microservicio, por medio de este Log logramos registrar todos los eventos que ocurren en el sistema durante
  su ejecución, permitiéndonos identificar la salud de los componentes que hacen parte del microservicio.
</p>

<div class="subtitle-separator"></div>

<table>
  <tr>
    <th>Convenciones</th>
    <th>Diargrama - Componente Conector</th>
  </tr>
  <tr>
    <td width="20%">
      <div class="img1">
        <img src="./assets/img/user/user2.png" alt="Vista funcional microservicio User" width="90%">
      </div>
    </td>
    <td width="80%">
      <div class="img1">
        <img src="./assets/img/user/userd1.png" alt="Vista funcional microservicio User" width="90%">
      </div>
    </td>
  </tr>
</table>

<div class="subtitle-separator"></div>

<h4>5.2.5.3. Seguridad</h4>
<div class="subtitle-separator"></div>

<h5>5.2.5.1.3.1. Modelo Component Conector</h5>

<p class="text">
  En este modelo utilizamos un nuevo componente del microservicio de usuarios de parqueaderos con el objetivo de conseguir la seguridad establecida dentro de los ARS, para esto contamos con un componente de API Management que nos ofrece un punto único centralizado para exposición de servicios, además como una de las bondades este componente nos ofrece el manejo de la seguridad de API´s por medio de OAUTH 2.0 (framework) que proporciona flujos de autorización que le permite a las aplicaciones obtener acceso limitado a los servicio REST/HTTP,  adicional a esto los componentes que hacen parte de la solución interna o que están detrás del API se encuentran dentro de private space para evitar que los componentes puedan ser vistos públicamente asegurando que el único punto de contacto hacia componentes externos va a ser a través del API Management.
  <br><br>
  También se agregó otro componente adicional, un servidor de autenticación, con su propia fuente de datos cuya única función va a ser resolver los permisos y refrescar el token de autenticación. De esa manera desacoplamos un poco la autenticación de la autorización y evitamos tener un solo punto de fallo.
  <br><br>
  Por el otro lado, los logs y demás componentes ingresados en la etapa de disponibilidad también ayudan a evitar que el sistema se vea comprometido en su totalidad en el caso de un ataque y ayuda a mantener disponible el servicio en todo momento. También ayuda a que el servicio pueda recuperarse en caso de que alguna amenaza se materialice.
</p>

<div class="subtitle-separator"></div>

<table>
  <tr>
    <th>Convenciones</th>
    <th>Diargrama - Componente Conector</th>
  </tr>
  <tr>
    <td width="20%">
      <div class="img1">
        <img src="./assets/img/user/user2.png" alt="Vista funcional microservicio User" width="90%">
      </div>
    </td>
    <td width="80%">
      <div class="img1">
        <img src="./assets/img/user/userc1.png" alt="Vista funcional microservicio User" width="90%">
      </div>
    </td>
  </tr>
</table>
