<div class="component-title">
  <h1>5.2.4. Payments Microservice</h1>
  <h3>Vista Funcional</h3>
  <div class="line-component-title"></div>
</div>

<div class="title-separator"></div>

<h4>5.2.4.1. Latencia</h4>
<div class="subtitle-separator"></div>

<h5>5.2.4.1.1. Modelo Component Conector</h5>

<p class="text">
  Microservicio encargado de enviar los datos de pago del parqueadero a la pasarela de pagos. Para este microservicio se decidió utilizar un componente para mensajería asíncrona (MQ component), de esta manera se almacenarán los mensajes para que sean atendidos por el componente de pagos. Este microservicio almacenara en la base de datos la información de las transacciones para tener una bitácora con los estados de los pagos.
</p>

<div class="subtitle-separator"></div>

<table>
  <tr>
    <th>Convenciones</th>
    <th>Diargrama - Componente Conector</th>
  </tr>
  <tr>
    <td width="20%">
      <div class="img1">
        <img src="./assets/img/payment/funcionalReferencias.png" alt="Vista funcional microservicio Payment" width="90%">
      </div>
    </td>
    <td width="80%">
      <div class="img1">
        <img src="./assets/img/payment/funcional.png" alt="Vista funcional microservicio Payment" width="90%">
      </div>
    </td>
  </tr>
</table>

<div class="subtitle-separator"></div>

<h4>5.2.4.2. Disponibilidad</h4>
<div class="subtitle-separator"></div>

<h5>5.2.4.2.1. Modelo Component Conector</h5>

<p class="text">
  Para garantizar disponibilidad de software se incluye componentes de monitoreo (Apollo engina, New relic y Sendgrid).
  Estos componentes se encargar de monitorear los eventos transaccionales y de ejecución para mantener una bitácora del estado
  del microservicio. También serán los encargados de alertar sobre una posible falla para indicar procedimientos de prevención,
  y continuidad.
</p>

<div class="subtitle-separator"></div>

<table>
  <tr>
    <th>Convenciones</th>
    <th>Diargrama - Componente Conector</th>
  </tr>
  <tr>
    <td width="20%">
      <div class="img1">
        <img src="./assets/img/payment/funcionalReferencias.png" alt="Vista funcional microservicio Payment" width="90%">
      </div>
    </td>
    <td width="80%">
      <div class="img1">
        <img src="./assets/img/payment/payd1.png" alt="Vista funcional microservicio Payment" width="90%">
      </div>
    </td>
  </tr>
</table>

<div class="subtitle-separator"></div>

<h4>5.2.4.3. Seguridad</h4>
<div class="subtitle-separator"></div>

<h5>5.2.4.3.1. Modelo Component Conector</h5>

<p class="text">
  En este modelo utilizamos un nuevo componente del microservicio de pagos de reservas parqueaderos con el objetivo de conseguir la seguridad establecida dentro de los ARS, para esto contamos con un componente de API Management que nos ofrece un punto único centralizado para exposición de servicios, además como una de las bondades este componente nos ofrece el manejo de la seguridad de API´s por medio de OAUTH 2.0 (framework) que proporciona flujos de autorización que le permite a las aplicaciones obtener acceso limitado a los servicio REST/HTTP,  adicional a esto los componentes que hacen parte de la solución interna o que están detrás del API se encuentran dentro de private space para evitar que los componentes puedan ser vistos públicamente asegurando que el único punto de contacto hacia componentes externos va a ser a través del API Management.
  <br><br>
  Este microservicio en particular se va a enmascarar la información del mensaje con el fin de evitar que los datos del pago sean vulnerados o visualizados por personas diferentes a la propietaria, el mensaje se va cifrador utilizando el método de encriptamiento por AIS-256 de punta a punta.
  <br><br>
  Por el otro lado, los logs y demás componentes ingresados en la etapa de disponibilidad también ayudan a evitar que el sistema se vea comprometido en su totalidad en el caso de un ataque y ayuda a mantener disponible el servicio en todo momento. También ayuda a que el servicio pueda recuperarse en caso de que alguna amenaza se materialice.
</p>
<div class="subtitle-separator"></div>

<table>
  <tr>
    <th>Convenciones</th>
    <th>Diargrama - Componente Conector</th>
  </tr>
  <tr>
    <td width="20%">
      <div class="img1">
        <img src="./assets/img/payment/funcionalReferencias.png" alt="Vista funcional microservicio Payment" width="90%">
      </div>
    </td>
    <td width="80%">
      <div class="img1">
        <img src="./assets/img/payment/payc1.png" alt="Vista funcional microservicio Payment" width="90%">
      </div>
    </td>
  </tr>
</table>
