<div class="component-title">
  <h1>5.2.4. Payments Microservice</h1>
  <h3>Vista Funcional</h3>
  <div class="line-component-title"></div>
</div>

<div class="title-separator"></div>

<h4>5.2.4.1. Latencia</h4>
<div class="subtitle-separator"></div>

<h5>5.2.4.1.1. Modelo Component Conector</h5>

<p class="text">
  Microservicio encargado de enviar los datos de pago del parqueadero a la pasarela de pagos. Para este microservicio se decidió utilizar un componente para mensajería asíncrona (MQ component), de esta manera se almacenarán los mensajes para que sean atendidos por el componente de pagos. Este microservicio almacenara en la base de datos la información de las transacciones para tener una bitácora con los estados de los pagos.
</p>

<div class="subtitle-separator"></div>

<table>
  <tr>
    <th>Convenciones</th>
    <th>Diargrama - Componente Conector</th>
  </tr>
  <tr>
    <td width="20%">
      <div class="img1">
        <img src="./assets/img/payment/funcionalReferencias.png" alt="Vista funcional microservicio Payment" width="90%">
      </div>
    </td>
    <td width="80%">
      <div class="img1">
        <img src="./assets/img/payment/funcional.png" alt="Vista funcional microservicio Payment" width="90%">
      </div>
    </td>
  </tr>
</table>

<div class="subtitle-separator"></div>

<h4>5.2.4.2. Disponibilidad</h4>
<div class="subtitle-separator"></div>

<h5>5.2.4.2.1. Modelo Component Conector</h5>

<p class="text">
  Para garantizar disponibilidad de software se incluye componentes de monitoreo (Apollo engina, New relic y Sendgrid).
  Estos componentes se encargar de monitorear los eventos transaccionales y de ejecución para mantener una bitácora del estado
  del microservicio. También serán los encargados de alertar sobre una posible falla para indicar procedimientos de prevención,
  y continuidad.
</p>

<div class="subtitle-separator"></div>

<table>
  <tr>
    <th>Convenciones</th>
    <th>Diargrama - Componente Conector</th>
  </tr>
  <tr>
    <td width="20%">
      <div class="img1">
        <img src="./assets/img/payment/funcionalReferencias.png" alt="Vista funcional microservicio Payment" width="90%">
      </div>
    </td>
    <td width="80%">
      <div class="img1">
        <img src="./assets/img/payment/payd1.png" alt="Vista funcional microservicio Payment" width="90%">
      </div>
    </td>
  </tr>
</table>

<div class="subtitle-separator"></div>

<h4>5.2.4.3. Seguridad</h4>
<div class="subtitle-separator"></div>

<h5>5.2.4.3.1. Modelo Component Conector</h5>

<p class="text">
  En este modelo incluimos los componentes para el monitoreo del microservicio de pagos. se incluyeron monitores de actividad transaccional y de gestión de logs. Estos componentes permitirán almacenar, alertar y estar atento ante las fallas producidas por el microservicio y de esta forma tomar decisiones respecto a prevención, recuperación y continuidad de la operación de reservas de Nidoo.
  <br><br>
  La disponibilidad de este microservicio debe ser igual al servicio de búsquedas. dado que estos representarán la mayor parte de la operación de Nidoo.
</p>
<div class="subtitle-separator"></div>

<table>
  <tr>
    <th>Convenciones</th>
    <th>Diargrama - Componente Conector</th>
  </tr>
  <tr>
    <td width="20%">
      <div class="img1">
        <img src="./assets/img/payment/funcionalReferencias.png" alt="Vista funcional microservicio Payment" width="90%">
      </div>
    </td>
    <td width="80%">
      <div class="img1">
        <img src="./assets/img/payment/payc1.png" alt="Vista funcional microservicio Payment" width="90%">
      </div>
    </td>
  </tr>
</table>
