<div class="component-title">
  <h1>Retrospectiva Sprint 0</h1>
  <div class="line-component-title"></div>
</div>

<div class="title-separator"></div>

A continuación presentamos la retrospectiva del sprint 0, donde se analizaron cada uno de los aspectos funcionales
del equipo del desarrollo de la arquitectura.

<div class="subtitle-separator"></div>

<h5>Análisis de los aspectos que han funcionado en el equipo</h5>
<ul class="text">
  <li>El realizar un estudio previo de los trabajos individuales reflejan la calidad de los contenidos en las entregas grupales.</li>
  <li>La comunicación durante la semana y en los trabajos previos fue fundamental para elaborar los proyectos grupales.</li>
  <li>Los errores cometidos en los trabajos individuales ayudaron a corregir las entregas grupales.</li>
</ul>

<div class="subtitle-separator"></div>

<h5>Análisis de los aspectos que no han funcionado en el equipo</h5>
<ul class="text">
  <li>Las reuniones no presenciales hacen que avance individual sea más demorado que cuando se trabaja presencialmente.</li>
  <li>Los horarios de trabajo, las distancias y demás clases de la maestría dejan poco tiempo para trabajar presencialmente.</li>
</ul>

<div class="subtitle-separator"></div>

<h5>Compromisos individuales y de grupo para próximos sprints</h5>
<ul class="text">
  <li>La asignación de responsables en los trabajos ayudaron a agilizar las entregas grupales.</li>
  <li>La división de responsabilidad es perjudicial para tener una solución integra ya que cada integrante se encarga de una parte y aveces se pierde el foco global del trabajo.</li>
</ul>
