<div class="component-title">
  <h1>5.3.3. Booking Microservice</h1>
  <h3>Vista De Información</h3>
  <div class="line-component-title"></div>
</div>

<div class="title-separator"></div>

<h5>5.3.3.1. Modelo De Entidad Relación</h5>

<p class="text">
  El modelo entidad relación es muy sencillo. Un sólo documento para agilizar las búsquedas y las consultas.
  índices sobre la placa del carro y los ids de las relaciones.
</p>

<div class="subtitle-separator"></div>

<table class="table-diagrama" width="100%">
  <tr>
    <th>Diargrama - Modelo De Entidad Relación</th>
  </tr>
  <tr>
    <td width="100%" align="center">
      <div class="img1">
        <img src="./assets/img/booking/booking3.png" alt="Vista De Información Booking Microservice" >
      </div>
    </td>
  </tr>
</table>
