<div class="component-title">
  <h1>5.2.3. Booking Microservice</h1>
  <h3>Vista Funcional</h3>
  <div class="line-component-title"></div>
</div>

<div class="title-separator"></div>

<h4>5.2.3.1. Latencia</h4>
<div class="subtitle-separator"></div>

<h5>5.2.3.1.1. Modelo Component Conector</h5>

<p class="text">
  En este diagrama vemos como el microservicio manda mensajes a una cola de rabbitMQ para escalar mejor ya que no
  pierde tiempo en actualizar el estado del parqueadero en el microservicio de búsqueda o el de pagos. Puede hacer
  estas operaciones de forma asincrónica y responder o liberarse mucho más rápido de sus peticiones. Por el otro lado
  vemos cómo puede hacer uso del caché para evitar saturar la base de datos.
</p>

<div class="subtitle-separator"></div>

<table>
  <tr>
    <th>Convenciones</th>
    <th>Diargrama - Componente Conector</th>
  </tr>
  <tr>
    <td width="20%">
      <div class="img1">
        <img src="./assets/img/user/user2.png" alt="Vista funcional microservicio Booking" width="90%">
      </div>
    </td>
    <td width="80%">
      <div class="img1">
        <img src="./assets/img/booking/booking1.png" alt="Vista funcional microservicio Booking" width="90%">
      </div>
    </td>
  </tr>
</table>

<div class="subtitle-separator"></div>

<h4>5.2.3.2. Disponibilidad</h4>
<div class="subtitle-separator"></div>

<h5>5.2.3.2.1. Modelo Component Conector</h5>

<p class="text">
  En este modelo incluimos los componentes para el monitoreo del microservicio de reservas. se incluyeron monitores de actividad
  transaccional y de gestión de logs. Estos componentes permitirán almacenar, alertar y estar atento ante las fallas producidas
  por el microservicio y de esta forma tomar decisiones respecto a prevención, recuperación y continuidad de la operación de
  reservas de Nidoo.
  <br><br>
  La disponibilidad de este microservicio debe ser igual al servicio de búsquedas. dado que estos representarán la mayor parte
  de la operación de Nidoo.
</p>

<div class="subtitle-separator"></div>

<table>
  <tr>
    <th>Convenciones</th>
    <th>Diargrama - Componente Conector</th>
  </tr>
  <tr>
    <td width="20%">
      <div class="img1">
        <img src="./assets/img/user/user2.png" alt="Vista funcional microservicio Booking" width="90%">
      </div>
    </td>
    <td width="80%">
      <div class="img1">
        <img src="./assets/img/booking/bookingd1.png" alt="Vista funcional microservicio Booking" width="90%">
      </div>
    </td>
  </tr>
</table>


<div class="subtitle-separator"></div>

<h4>5.2.3.3. Seguridad</h4>
<div class="subtitle-separator"></div>

<h5>5.2.3.3.1. Modelo Component Conector</h5>

<p class="text">
  En este modelo utilizamos un nuevo componente del microservicio de reservas de parqueaderos con el objetivo de conseguir la seguridad establecida dentro de los ARS, para esto contamos con un componente de API Management que nos ofrece un punto único centralizado para exposición de servicios, además como una de las bondades este componente nos ofrece el manejo de la seguridad de API´s por medio de OAUTH 2.0 (framework) que proporciona flujos de autorización que le permite a las aplicaciones obtener acceso limitado a los servicio REST/HTTP,  adicional a esto los componentes que hacen parte de la solución interna o que están detrás del API se encuentran dentro de private space para evitar que los componentes puedan ser vistos públicamente asegurando que el único punto de contacto hacia componentes externos va a ser a través del API Management.
  <br><br>
  Por el otro lado, los logs y demás componentes ingresados en la etapa de disponibilidad también ayudan a evitar que el sistema se vea comprometido en su totalidad en el caso de un ataque y ayuda a mantener disponible el servicio en todo momento. También ayuda a que el servicio pueda recuperarse en caso de que alguna amenaza se materialice.
</p>

<div class="subtitle-separator"></div>

<table>
  <tr>
    <th>Convenciones</th>
    <th>Diargrama - Componente Conector</th>
  </tr>
  <tr>
    <td width="20%">
      <div class="img1">
        <img src="./assets/img/user/user2.png" alt="Vista funcional microservicio Booking" width="90%">
      </div>
    </td>
    <td width="80%">
      <div class="img1">
        <img src="./assets/img/booking/bookingc1.png" alt="Vista funcional microservicio Booking" width="90%">
      </div>
    </td>
  </tr>
</table>

