<div class="component-title">
  <h1>5.2.3. Booking Microservice</h1>
  <h3>Vista Funcional</h3>
  <div class="line-component-title"></div>
</div>

<div class="title-separator"></div>

<h5>5.2.3.1. Modelo Component Conector</h5>

<p class="text">
  En este diagrama vemos como el microservicio manda mensajes a una cola de rabbitMQ para escalar mejor ya que no
  pierde tiempo en actualizar el estado del parqueadero en el microservicio de búsqueda o el de pagos. Puede hacer
  estas operaciones de forma asincrónica y responder o liberarse mucho más rápido de sus peticiones. Por el otro lado
  vemos cómo puede hacer uso del caché para evitar saturar la base de datos.
</p>

<div class="subtitle-separator"></div>

<table>
  <tr>
    <th>Convenciones</th>
    <th>Diargrama - Componente Conector</th>
  </tr>
  <tr>
    <td width="20%">
      <div class="img1">
        <img src="./assets/img/user/user2.png" alt="Vista funcional microservicio Booking" width="90%">
      </div>
    </td>
    <td width="80%">
      <div class="img1">
        <img src="./assets/img/booking/booking1.png" alt="Vista funcional microservicio Booking" width="90%">
      </div>
    </td>
  </tr>
</table>





