<div class="component-title">
  <h1>2. Tabla De Cambios</h1>
  <div class="line-component-title"></div>
</div>

<div class="title-separator"></div>

<table width="100%">
  <thead>
    <tr>
      <th>Autor</th>
      <th>Fecha</th>
      <th>Sección</th>
      <th>Descripción Del Cambio</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td width="20%">Wilmer A. Rubio Rojas</td>
      <td width="20%">06-09-2018</td>
      <td width="20%">Todas</td>
      <td width="40%">Creación de documento y definicion de secciones</td>
    </tr>
    <tr>
      <td width="20%">Juan J. Villegas Pabon</td>
      <td width="20%">20-09-2018</td>
      <td width="20%">Sección 3</td>
      <td width="40%">Se agregó información de la vista funcional</td>
    </tr>
    <tr>
      <td width="20%">José A. De La Rosa Fontalvo</td>
      <td width="20%">20-09-2018</td>
      <td width="20%">Sección 3</td>
      <td width="40%">Se agregó información de la vista de información</td>
    </tr>
    <tr>
      <td width="20%">Camilo A. Vargas Tovar</td>
      <td width="20%">20-09-2018</td>
      <td width="20%">Sección 3</td>
      <td width="40%">Se agregó información de la vista de despliegue</td>
    </tr>
    <tr>
      <td width="20%">Wilmer A. Rubio Rojas</td>
      <td width="20%">27-09-2018</td>
      <td width="20%">Secciones 2 y 3</td>
      <td width="40%">Correcciones en la sección 2 y 3</td>
    </tr>
    <tr>
      <td width="20%">Camilo A. Vargas Tovar</td>
      <td width="20%">08-10-2018</td>
      <td width="20%">Sección 4</td>
      <td width="40%">Se genera plantilla para la sección 4</td>
    </tr>
    <tr>
      <td width="20%">Wilmer A. Rubio Rojas</td>
      <td width="20%">20-10-2018</td>
      <td width="20%">Sección 5</td>
      <td width="40%">Se agrega conenido a la vista de contexto</td>
    </tr>
    <tr>
      <td width="20%">Camilo A. Vargas Tovar</td>
      <td width="20%">20-10-2018</td>
      <td width="20%">Sección 5</td>
      <td width="40%">Se agrega conenido a las vistas de arquitectura para el microservicio de Payments</td>
    </tr>
    <tr>
      <td width="20%">José A. De La Rosa Fontalvo</td>
      <td width="20%">20-10-2018</td>
      <td width="20%">Sección 5</td>
      <td width="40%">Se agrega conenido a las vistas de arquitectura para el microservicio de Users</td>
    </tr>
    <tr>
      <td width="20%">Juan J. Villegas Pabon</td>
      <td width="20%">20-10-2018</td>
      <td width="20%">Sección 5</td>
      <td width="40%">Se agrega conenido a las vistas de arquitectura para el microservicio de Booking</td>
    </tr>
    <tr>
      <td width="20%">Juan J. Villegas Pabon</td>
      <td width="20%">20-10-2018</td>
      <td width="20%">Sección 5</td>
      <td width="40%">Se agrega conenido a las vistas de arquitectura para el microservicio de Search</td>
    </tr>
    <tr>
      <td width="20%">Wilmer A. Rubio Rojas</td>
      <td width="20%">20-10-2018</td>
      <td width="20%">Sección Sprints</td>
      <td width="40%">Se agrega conenido referente a los entregables del Sprint 2</td>
    </tr>
  </tbody>
</table>
