<div class="component-title">
  <h1>5.5.4. Payments Microservice</h1>
  <h3>Vista De Despliegue</h3>
  <div class="line-component-title"></div>
</div>

<div class="title-separator"></div>

<h4>5.5.4.1. Latencia</h4>
<div class="subtitle-separator"></div>

<h5>5.5.4.1.1. Modelo De Despliegue</h5>

<p class="text">
  Se especifican asignaciones de ejecución para los diferentes componentes considerando latencia y escalabilidad:
</p>

<table>
  <tbody>
    <tr>
      <td width="20%"><b>Cluster Cache: </b></td>
      <td width="80%">Contendrá instancias de bases de datos para manejar caching de los datos y evitar llamadas innecesarias a la base de datos.</td>
    </tr>
    <tr>
      <td width="20%"><b>Cluster MQ: </b></td>
      <td width="80%">Dispondrá colas de mensajería para el almacenamiento de los mensajes entre el componente payment microservice y la pasarela de datos. de esta forma evitamos perdida de mensajes y se podrá asignar tiempos para que sean atendidos os mensajes y mejorar e rendimiento, Las conexiones de este componente son tipo MQ</td>
    </tr>
    <tr>
      <td width="20%"><b>Heroku: </b></td>
      <td width="80%">Contendrá instancias del microservicio de pagos ejecutadas sobre NodeJS y el orquestador de microservicios.</td>
    </tr>
    <tr>
      <td width="20%"><b>Apollo server: </b></td>
      <td width="80%">Instancia para orquestar la ejecución de lo microservicios.</td>
    </tr>
    <tr>
      <td width="20%"><b>Clúster MongoDB: </b></td>
      <td width="80%">Contendrá instancias de bases de datos MongoDB.</td>
    </tr>
  </tbody>
</table>

<div class="subtitle-separator"></div>

<table class="table-diagrama">
  <tr>
    <th>Convenciones</th>
    <th>Diargrama - Modelo De Despliegue</th>
  </tr>
  <tr>
    <td width="20%">
      <div class="img1">
        <img src="./assets/img/payment/funcionalReferencias.png" alt="Vista funcional microservicio Payment" width="90%">
      </div>
    </td>
    <td width="80%">
      <div class="img1">
        <img src="./assets/img/payment/despliegue.png" alt="Vista funcional microservicio Payment" width="90%">
      </div>
    </td>
  </tr>
</table>

<div class="subtitle-separator"></div>

<h4>5.5.4.2. Disponibilidad</h4>
<div class="subtitle-separator"></div>

<h5>5.5.4.2.1. Modelo De Despliegue</h5>

<p class="text">
  Se especifican asignaciones de ejecución para los diferentes componentes considerando latencia, escalabilidad y disponibilidad:
</p>

<table>
  <tbody>
  <tr>
    <td width="20%"><b>Cluster Cache: </b></td>
    <td width="80%">Contendrá instancias de bases de datos para manejar caching de los datos y evitar llamadas innecesarias a la base de datos.</td>
  </tr>
  <tr>
    <td width="20%"><b>Cluster MQ: </b></td>
    <td width="80%">Dispondrá colas de mensajería para el almacenamiento de los mensajes entre el componente payment microservice y la pasarela de datos. de esta forma evitamos perdida de mensajes y se podrá asignar tiempos para que sean atendidos os mensajes y mejorar e rendimiento, Las conexiones de este componente son tipo MQ</td>
  </tr>
  <tr>
    <td width="20%"><b>Heroku: </b></td>
    <td width="80%">Contendrá instancias del microservicio de pagos ejecutadas sobre NodeJS y el orquestador de microservicios.</td>
  </tr>
  <tr>
    <td width="20%"><b>Apollo server: </b></td>
    <td width="80%">Instancia para orquestar la ejecución de lo microservicios.</td>
  </tr>
  <tr>
    <td width="20%"><b>Clúster MongoDB: </b></td>
    <td width="80%">Contendrá instancias de bases de datos MongoDB.</td>
  </tr>
  <tr>
    <td width="20%"><b>Logs (Logentries):</b></td>
    <td width="80%">Almacenara los logs generados por el microservicio para tener detalle de los eventos generados y controlar sus fallas.</td>
  </tr>
  <tr>
    <td width="20%"><b>New Relic:</b></td>
    <td width="80%">Se encarga del monitoreo de los eventos transaccionales entrantes al microservicio. Se incluye para monitorear el estado del microservicio antes de su ejecución.</td>
  </tr>
  <tr>
    <td width="20%"><b>Apollo engine:</b></td>
    <td width="80%">Se encarga del monitoreo de enrutador de microservicios. Se incluye en el servicio para determinar si el resolver (Apollo server) se convierte en un punto de falla.</td>
  </tr>
  <tr>
    <td width="20%"><b>Message provider:</b></td>
    <td width="80%">Es un proveedor de mensajes que se utilizará para enviar alertas de posibles fallos del microservicio.</td>
  </tr>
  </tbody>
</table>

<div class="subtitle-separator"></div>

<table class="table-diagrama">
  <tr>
    <th>Convenciones</th>
    <th>Diargrama - Modelo De Despliegue</th>
  </tr>
  <tr>
    <td width="20%">
      <div class="img1">
        <img src="./assets/img/payment/funcionalReferencias.png" alt="Vista funcional microservicio Payment" width="90%">
      </div>
    </td>
    <td width="80%">
      <div class="img1">
        <img src="./assets/img/payment/payd2.png" alt="Vista funcional microservicio Payment" width="90%">
      </div>
    </td>
  </tr>
</table>

<div class="subtitle-separator"></div>

<h4>5.5.4.3. Seguridad</h4>
<div class="subtitle-separator"></div>

<h5>5.5.4.3.1. Modelo De Despliegue</h5>

<p class="text">
  Se especifican asignaciones de ejecución para los diferentes componentes considerando latencia, escalabilidad, disponibilidad y Seguridad:
</p>

<table>
  <tbody>
  <tr>
    <td width="20%"><b>Cluster Cache: </b></td>
    <td width="80%">Contendrá instancias de bases de datos para manejar caching de los datos y evitar llamadas innecesarias a la base de datos.</td>
  </tr>
  <tr>
    <td width="20%"><b>Cluster MQ: </b></td>
    <td width="80%">Dispondrá colas de mensajería para el almacenamiento de los mensajes entre el componente payment microservice y la pasarela de datos. de esta forma evitamos perdida de mensajes y se podrá asignar tiempos para que sean atendidos os mensajes y mejorar e rendimiento, Las conexiones de este componente son tipo MQ</td>
  </tr>
  <tr>
    <td width="20%"><b>Heroku: </b></td>
    <td width="80%">Contendrá instancias del microservicio de pagos ejecutadas sobre NodeJS y el orquestador de microservicios.</td>
  </tr>
  <tr>
    <td width="20%"><b>Apollo server: </b></td>
    <td width="80%">Instancia para orquestar la ejecución de lo microservicios.</td>
  </tr>
  <tr>
    <td width="20%"><b>Clúster MongoDB: </b></td>
    <td width="80%">Contendrá instancias de bases de datos MongoDB.</td>
  </tr>
  <tr>
    <td width="20%"><b>Logs (Logentries):</b></td>
    <td width="80%">Almacenara los logs generados por el microservicio para tener detalle de los eventos generados y controlar sus fallas.</td>
  </tr>
  <tr>
    <td width="20%"><b>New Relic:</b></td>
    <td width="80%">Se encarga del monitoreo de los eventos transaccionales entrantes al microservicio. Se incluye para monitorear el estado del microservicio antes de su ejecución.</td>
  </tr>
  <tr>
    <td width="20%"><b>Apollo engine:</b></td>
    <td width="80%">Se encarga del monitoreo de enrutador de microservicios. Se incluye en el servicio para determinar si el resolver (Apollo server) se convierte en un punto de falla.</td>
  </tr>
  <tr>
    <td width="20%"><b>Message provider:</b></td>
    <td width="80%">Es un proveedor de mensajes que se utilizará para enviar alertas de posibles fallos del microservicio.</td>
  </tr>
  <tr>
    <td width="20%"><b>API Gateway</b></td>
    <td width="80%">Este se va a encargar de consumir y filtrar todas las solicitudes hechas a los microservicios con el fin de protegerlos y de reducir la superficie de ataque.</td>
  </tr>
  <tr>
    <td width="20%"><b>Servidor De Autenticación</b></td>
    <td width="80%">Servidor que resuelve los permisos y refresca el token de autenticación</td>
  </tr>
  <tr>
    <td width="20%"><b>Users Caché (New Relic)</b></td>
    <td width="80%">Sistema de motorización de maquinas que permite tener un control en tiempo real de los recursos disponibles..</td>
  </tr>
  </tbody>
</table>

<div class="subtitle-separator"></div>

<p class="text">
  En este modelo ya hacemos evidente dónde va a estar alojado cada uno de los componentes del microservicio y cómo éstos se van a comunicar.
  <br><br>
  El API management va a ser el único punto de contacto para exponer servicios HTTP, debido a que este nos ofrece la interconexión de módulos y aplicaciones, facilitando el acceso a sus backends y permitiendo la reutilización de servicios. Esta instancia serán dynos standard de heroku que corren Ubuntu 18.x y tienen alrededor de 512MB de RAM.
  <br><br>
  El resolver Apollo Server va a correr en 1 o 3 instancias dependiendo de la demanda. Este se comunica resuelve el query comunicándose con el microservicio de pagos mediante RESTful requests. El microservicio de usuario también va a estar corriendo de 1 a 3 instancia dependiendo de la demanda. Estas instancias serán dynos standard de heroku que corren Ubuntu 18.x y tienen alrededor de 512MB de RAM cada uno.
  <br><br>
  Por el otro lado, se tiene un cluster de bases de datos no relacionales MongoDB con RAM Variable con alrededor de 1GB de almacenamiento. Estos son escalan horizontal y verticalmente dependiendo de la demanda. El cluster lo va a proveer mLab. Como caché, se va a usar un cluster de instancias de Redis con un 1 Proxy server y un bucket size de 500MB. Este también escala con base en la demanda.
  <br><br>
  Como parte de la solución para enrutar y gestionar el tráfico del crecimiento horizontal tenemos Load Balancing que nos permite enrutar los requests de los clientes a las diferentes instancias la cual vamos a crecer a medida del volumen de carga al cual vamos a estar operando.
  <br><br>
  Otros dos sistemas fundamentales que llegan a hacer parte de la solución es la utilización del monitoreo continúo apoyados de new relic y log de eventos apoyados de elasticsearch, esto con el fin de asegurar el correcto funcionamiento del microservicio y sus componentes en tiempo de ejecución, estos sistemas los adicionamos para que sirvieran de apoyo en la identificación de la salud y el rendimiento de los recursos en ejecución.
</p>

<div class="subtitle-separator"></div>

<table class="table-diagrama">
  <tr>
    <th>Convenciones</th>
    <th>Diargrama - Modelo De Despliegue</th>
  </tr>
  <tr>
    <td width="20%">
      <div class="img1">
        <img src="./assets/img/payment/funcionalReferencias.png" alt="Vista funcional microservicio Payment" width="90%">
      </div>
    </td>
    <td width="80%">
      <div class="img1">
        <img src="./assets/img/payment/payc2.png" alt="Vista funcional microservicio Payment" width="90%">
      </div>
    </td>
  </tr>
</table>
