<div class="component-title">
  <h1>3. Restricciones</h1>
  <div class="line-component-title"></div>
</div>

<div class="title-separator"></div>

<p>
  Para definir las restricciones del proyecto se tuvo en cuenta la documentación entregada por el cliente,
  acorde a estos criterios y a las respuestas del cliente publicadas en el foro presentamos las siguientes restricciones:
</p>

<div class="subtitle-separator"></div>

<h5>3.1. Restricciones De Negocio</h5>
<div class="text">
  Las restricciones todas aquellas decisiones de negocio que impactan el diseño de la arquitectura. Por ejemplo, restricciones de presupuesto,
  fechas máximas de lanzamiento del producto, etc. <a href="https://miso-arquitectura.firebaseapp.com/references"><b>Ambler2011</b></a>
  <br><br>
  <ul>
    <li>NIDOO en 5 años Nidoo va a tener presencia en 10 ciudades de latinoamérica.</li>
    <li>En el momento tienen un esquema de reserva por mensualidad pero en 12 meses se espera estar on-demand con un modelo por horas.</li>
    <li>La solución debe ser incluyente, recordando que el encargado de parqueadero puede ser el portero de un edificio residencial o comercial o el operario de un parqueadero público.</li>
    <li>No cuentan con espacios propios dentro de los parqueaderos públicos.</li>
    <li>Se requiere una solución que sea escalable en diferentes países, bajo diferentes legislaciones y esquemas tributarios.</li>
    <li>En Nidoo son 12 personas. 3 programadores y 1 QA, 2 de operaciones, 3 de mercadeo, COO, CEO y CTO.</li>
  </ul>
</div>

<div class="subtitle-separator"></div>

<h5>3.2. Restricciones De Tecnología</h5>
<div class="text">
  Son Decisiones asociadas con tecnologías que se deben o no utilizar. Herramientas de desarrollo, plataformas de operación
  en las que se deberá ejecutar el producto, etc. <a href="https://miso-arquitectura.firebaseapp.com/references"><b>Ambler2011</b></a>
  <br><br>
  <ul>
    <li>Tienen un servidor de back-end que se conecta por APIs con un front-end web y aplicaciones móviles. Todo el ambiente se encuentra en AWS y cuenta con bases de datos y servidores tradicionales, protegidos y auto-escalables.</li>
    <li>Se requiere independizar los servicios para que las actualizaciones se puedan crear por servicio y no afecten todo el funcionamiento de la plataforma.</li>
    <li>Usuarios registrados actualmente 4,000. Se espera que con la modalidad por minutos la ocupación de parqueaderos subiría en 10x.</li>
    <li>En Nidoo tiene Allegra para contabilidad y pipedrive como CRM.</li>
    <li>Para campañas de mercadeo tienen hoot suite gratis y active campaign.</li>
    <li>Tecnologías que utilizan github y trello.</li>
  </ul>
</div>
