<div class="component-title">
  <h1>1. Introducción</h1>
  <div class="line-component-title"></div>
</div>

<div class="title-separator"></div>

Esta sección pretende dar una visión general de todo Documento de Arquitectura de Software,
llamado de aquí en adelante SAD. En esta sección se explica el propósito, alcance, definiciones, referencias y visión general del documento.

<div class="subtitle-separator"></div>

<h5>1.1. Propósito</h5>
<p class="text">Descripción del proósito </p>

<div class="subtitle-separator"></div>

<h5>1.2. Alcance</h5>
<p class="text">Deccripción del alcance </p>

<div class="subtitle-separator"></div>

<h5>1.3. Definiciones</h5>
<p class="text">Descripción de las definiciones</p>

<div class="subtitle-separator"></div>

<h5>1.4. Vision General Del Documento</h5>
<p class="text">descripción de la visión general del documento</p>
