<div class="component-title">
  <h1>1. Introducción</h1>
  <div class="line-component-title"></div>
</div>

<div class="title-separator"></div>

Esta sección pretende dar una visión general de todo Documento de Arquitectura de Software,
llamado de aquí en adelante SAD. En esta sección se explica el propósito, alcance, definiciones, referencias y visión general del documento.

<div class="subtitle-separator"></div>

<h5>1.1. Objetivo</h5>
<p class="text">
  Este documento es actualizable de acuerdo a los cambios técnicos de  arquitectura que vayan apareciendo. Su objetivo es  mostrar de forma
  organizada la arquitectura  de software definida para el desarrollo del actualización del sistema NIDOO, que es el producto del
  trabajo realizado por los autores del  documento para el proyecto del curso arquitecturas de software ágiles. Con este documento, se
  pretende plasmar en términos arquitectónicos y de diseño todos los requerimientos definidos en el documento del proyecto del curso,
  entregado por el cliente.
  <br><br>
  Este documento es la principal fuente de información para empezar con el desarrollo del sistema NIDOO, así como la integración de cada
  uno de los componentes presentados en el documento y va dirigido a los stakeholders que harán parte del proceso de desarrollo del
  software. (CTO, Arquitectos de software, gerente de proyecto, ingenieros de requerimientos, líder técnico, desarrolladores y tester).
</p>

<div class="subtitle-separator"></div>

<h5>1.2. Alcance</h5>
<p class="text">
  Este proyecto se desarrolla como requisito  de la materia de software desarrollos ágiles dirigida por el profesor  Dario Ernesto Correal Torres,
  Phd en Ingeniería de la Universidad De Los Andes. Con este documento se pretende definir y proponer una arquitectura del software
  NIDOO donde posteriormente la representación arquitectónica estará especificada por sus vistas, módulos, técnicas y tácticas definidas
  para el sistema acorde a los requerimientos establecidos en el documento del proyecto.
  <br><br>
  También son detallados y especificados otros aspectos importantes del proceso como son las historias de usuario, ASR, sprints,
  experimentos de algunos atributos de calidad y sus conclusiones.
  <br><br>
  En este documento se presentan diferentes módulos a desarrollar y la manera en que éstos se relacionan con los componentes propuestos.
  El sistema contará con las funcionalidades definidas y mapeadas al software en este documento.

</p>

<div class="subtitle-separator"></div>

<h5>1.3. Convenciones</h5>
<p class="text">
  Las convenciones del documento se pueden ver en el documento de convenciones,
  <a href="https://miso-arquitectura.firebaseapp.com/acronimos">link documento de convenciones.</a>
  En este  se encuentras las principales convenciones usadas para los modelos de arquitecturas definidos en las
  vistas de funcionalidad, información y despliegue.
</p>

<div class="subtitle-separator"></div>

<h5>1.4. Vision General Del Documento</h5>
<p class="text">
  El documento contiene la arquitectura del sistema NIDOO, en este pretendemos guiar al lector a través de las principales
  vistas de arquitectura, vista Contextual, Vista Funcional, Vista De Despliegue y Vista de información. Cada una de esta vista
  contiene los modelos definidos para cada uno de los microservicios. También se agregó un menú por microservicio para
  facilitar loa búsqueda de los modelos.
  <br><br>
  En este documento se agregan como anexo el desarrollo de las actividades realizadas en los sprint definidos por el
  curso, donde se tomaron decisiones de arquitecturas sobre ASRs que afectan directamente la arquitectura del sistema,
  de esta manera podemos realizar diferentes experimentos que nos periten saber si vamos por buen camino.
  <br><br>
  Las referencias de los conceptos usados se agregarán al final del párrafo en negrilla y se generará el link al documento de
  referencias presentado en el menú el documento. (ejemplo: <a href="https://miso-arquitectura.firebaseapp.com/references"><b>Cohn20014</b></a>)
</p>
