<div class="component-title">
  <h1>Resultados Del Experimento Sprint 01</h1>
  <div class="line-component-title"></div>
</div>

<div class="title-separator"></div>

En esta sección presentamos los resultados obtenidos del experimento de los puntos sensibilidad que definimos para el sprint 01 y que están enfocados en el atributo de calidad de latencia.

<div class="subtitle-separator"></div>

<h4>Análisis De Los Resultados Obtenidos</h4>

En este gráfico evidenciamos el resultado de los tiempos consumidos durante la prueba de los servicios, queremos resaltar las cargas presentadas en los consumo del servidor node, la base de datos mongoDB y los tiempos de respuestas.

<div class="subtitle-separator"></div>

<div class="img1">
  <img src="./assets/img/sprint1/img3.png" alt="Resultados del tiempo de transición" width="90%">
</div>

<div class="subtitle-separator"></div>
En este gráfico evidenciamos el resultado de la prueba de la ejecución del servidor de aplicaciones y cuales son los servicios más críticos que consumen más recursos durante su ejecución.

<div class="subtitle-separator"></div>

<div class="img1">
  <img src="./assets/img/sprint1/img4.png" alt="desglose del servidor de aplicaciones" width="90%">
</div>

<div class="subtitle-separator"></div>

En esta tabla evidenciamos el resultado del tiempo de consumo de los diferentes componentes que hacen parte de la solución y cual fue su tiempo de respuesta durante las pruebas realizadas en el escenario.En esta tabla evidenciamos el resultado del tiempo de consumo de los diferentes componentes que hacen parte de la solución y cual fue su tiempo de respuesta durante las pruebas realizadas en el escenario.

<div class="subtitle-separator"></div>

<div class="img1">
  <img src="./assets/img/sprint1/img5.png" alt="Tabla De Desglose del servidor de aplicaciones" width="90%">
</div>

<div class="subtitle-separator"></div>

En este gráfico evidenciamos el resultado de la prueba de las invocaciones durante un minuto que se le realizaron al servicio de búsqueda de parqueaderos.

<div class="subtitle-separator"></div>

<div class="img1">
  <img src="./assets/img/sprint1/img6.jpg" alt="Booking Rest Request Search" width="90%">
</div>

<div class="subtitle-separator"></div>

En este gráfico evidenciamos el resultado de la prueba de las invocaciones durante un minuto que se le realizaron al servicio de búsqueda de reservas disponibles.

<div class="subtitle-separator"></div>

<div class="img1">
  <img src="./assets/img/sprint1/img7.jpg" alt="Booking Rest Request Reservas" width="90%">
</div>

<div class="subtitle-separator"></div>
