<nav>
  <div id="sidebar-title">
    <h5>DOCUMENTO DE ARQUITECTURA</h5>
    <h6>SAD V. 1.0</h6>
    <h6>201820-Repo-Grupo-03</h6>
    <h6>Cliente: NIDOO</h6>
    <h6>Universidad De Los Andes</h6>
    <h6>Facultad De Ingeniería</h6>
    <h6>15/10/2018</h6>
    <!-- -->
  </div>
  <hr>
  <div id="sidebar-menu">
    <h5>Menu principal</h5>
    <ul>
      <li routerLink="">
        <span class="sidebar-title">Home</span>
      </li>
      <li routerLink="/introduction" >
        <span class="sidebar-title">1. Introducción</span>
      </li>
      <li>
        <span class="sidebar-title">2. Tabla De Cambios</span>
      </li>
      <li>
        <span class="sidebar-title">3. Representación Arquitectónica</span>
      </li>
      <li>
        <span class="sidebar-title">4. Restricciones</span>
      </li>
      <li>
        <span class="sidebar-title">5. Vistas De Arquitectura</span>
      </li>
      <li>
        <span class="sidebar-title">6. Modelos De Arquitectura</span>
      </li>
      <li>
        <span class="sidebar-title">7. Estilos y Tácticas De Arquitectura</span>
      </li>
      <li>
        <span class="sidebar-title">8. Experimentos y Resultados</span>
      </li>
      <li>
        <span class="sidebar-title">9. Sprints </span>
      </li>
    </ul>
  </div>
</nav>
