<nav>

  <div id="sidebar-title">
    <img src="./assets/img/logo.svg" alt="Nidoo logo">
    <h5>DOCUMENTO DE ARQUITECTURA</h5>
  </div>

  <hr style="border-top: 1px solid rgba(0, 0, 0, 0.25);">

  <div id="sidebar-menu">
    <h5>Menu principal</h5>
    <ul>
      <li class="p-link" routerLink="">
        <span class="sidebar-title">Home</span>
      </li>
      <li class="p-link"  routerLink="/introduction" >
        <span class="sidebar-title">1. Introducción</span>
      </li>
      <li class="p-link" >
        <span class="sidebar-title">2. Tabla De Cambios</span>
      </li>
      <li class="p-link" >
        <span class="sidebar-title">3. Representación Arquitectónica</span>
        <div class="sidebar-arrow"><i class="fas fa-caret-down"></i></div>
        <div class="side-sublinks">
          <ul>
            <li><span class="sidebar-title">algo 01</span></li>
            <li><span class="sidebar-title">algo 02</span></li>
            <li><span class="sidebar-title">algo 03</span></li>
          </ul>
        </div>
      </li>
      <li class="p-link" >
        <span class="sidebar-title">4. Restricciones</span>
      </li>
      <li class="p-link" >
        <span class="sidebar-title">5. Vistas De Arquitectura</span>
      </li>
      <li class="p-link" >
        <span class="sidebar-title">6. Modelos De Arquitectura</span>
      </li>
      <li class="p-link" >
        <span class="sidebar-title">7. Estilos y Tácticas De Arquitectura</span>
      </li>
      <li class="p-link" >
        <span class="sidebar-title">8. Experimentos y Resultados</span>
      </li>
      <li class="p-link" >
        <span class="sidebar-title">9. Sprints </span>
      </li>
    </ul>
  </div>
</nav>
