<nav>

  <div id="sidebar-title">
    <img src="./assets/img/logo.svg" alt="Nidoo logo">
    <h5>DOCUMENTO DE ARQUITECTURA</h5>
  </div>

  <hr style="border-top: 1px solid rgba(0, 0, 0, 0.25); margin: 0;">

  <div id="sidebar-menu">
    <ul>
      <li class="p-link" routerLink="">
        <span class="sidebar-title">Home</span>
      </li>
      <li class="p-link"  routerLink="/introduction" >
        <span class="sidebar-title">1. Introducción</span>
      </li>
      <li class="p-link" routerLink="/tableOfChanges">
        <span class="sidebar-title">2. Tabla De Cambios</span>
      </li>
      <li class="p-link" routerLink="/restrictions">
        <span class="sidebar-title">3. Restricciones</span>
      </li>
      <li class="p-link" >
        <span class="sidebar-title">4. ASRs</span>
        <div class="sidebar-arrow"><i class="fas fa-caret-down"></i></div>
        <div class="side-sublinks">
          <ul>
            <li class="p-link" routerLink=""><span class="sidebar-title">4.1. Atributos de calidad</span></li>
            <li class="p-link" routerLink="/userStories"><span class="sidebar-title">4.2. Historias de usuario De Arquitectura</span></li>
            <li class="p-link" routerLink="/asr"><span class="sidebar-title">4.3. ASR</span></li>
            <li class="p-link" routerLink="/asrPriority"><span class="sidebar-title">4.4. Priorización de ASRs</span></li>
          </ul>
        </div>
      </li>
      <li class="p-link level1">
        <span class="sidebar-title">5. Vistas De Arquitectura</span>
        <div class="sidebar-arrow"><i class="fas fa-caret-down"></i></div>
        <div class="side-sublinks">
          <ul>
            <li class="p-link" routerLink="/vcontex"><span class="sidebar-title">5.1. Vista De Contexto</span></li>
            <li class="p-link level2">
              <span class="sidebar-title">5.2. Vista De Funcionalidad</span>
              <div class="sidebar-arrow"><i class="fas fa-caret-down"></i></div>
              <div class="side-sublinks sub-level2">
                <ul>
                  <li routerLink=""><span class="sidebar-title">5.2.1. General</span></li>
                  <li routerLink="/vfsm"><span class="sidebar-title">5.2.2. Search Microservice</span></li>
                  <li routerLink="/vfbm"><span class="sidebar-title">5.2.3. Booking Microservice</span></li>
                  <li routerLink="/vfpm"><span class="sidebar-title">5.2.4. Payments Microservice</span></li>
                  <li routerLink="/vfum"><span class="sidebar-title">5.2.5. User Miscroservice</span></li>
                </ul>
              </div>
            </li>
            <li class="p-link level2" >
              <span class="sidebar-title">5.3. Vista De Información</span>
              <div class="sidebar-arrow"><i class="fas fa-caret-down"></i></div>
              <div class="side-sublinks sub-level2">
                <ul>
                  <li routerLink=""><span class="sidebar-title">5.3.1. General</span></li>
                  <li routerLink="/vism"><span class="sidebar-title">5.3.2. Search Microservice</span></li>
                  <li routerLink="/vibm"><span class="sidebar-title">5.3.3. Booking Microservice</span></li>
                  <li routerLink="/vipm"><span class="sidebar-title">5.3.4. Payments Microservice</span></li>
                  <li routerLink="/vium"><span class="sidebar-title">5.3.5. User Miscroservice</span></li>
                </ul>
              </div>
            </li>
            <!--
            <li class="p-link level2">
              <span class="sidebar-title">5.4. Vista De Concurrencia</span>
              <div class="sidebar-arrow"><i class="fas fa-caret-down"></i></div>
              <div class="side-sublinks sub-level2">
                <ul>
                  <li routerLink=""><span class="sidebar-title">5.4.1. General</span></li>
                  <li routerLink=""><span class="sidebar-title">5.4.2. Search Microservice</span></li>
                  <li routerLink=""><span class="sidebar-title">5.4.3. Booking Microservice</span></li>
                  <li routerLink=""><span class="sidebar-title">5.4.4. Payments Microservice</span></li>
                  <li routerLink=""><span class="sidebar-title">5.4.5. User Miscroservice</span></li>
                </ul>
              </div>
            </li>
            -->
            <li class="p-link level2">
              <span class="sidebar-title">5.4. Vista De Despliegue</span>
              <div class="sidebar-arrow"><i class="fas fa-caret-down"></i></div>
              <div class="side-sublinks sub-level2">
                <ul>
                  <li routerLink=""><span class="sidebar-title">5.4.1. General</span></li>
                  <li routerLink="/vdsm"><span class="sidebar-title">5.4.2. Search Microservice</span></li>
                  <li routerLink="/vdbm"><span class="sidebar-title">5.4.3. Booking Microservice</span></li>
                  <li routerLink="/vdpm"><span class="sidebar-title">5.4.4. Payments Microservice</span></li>
                  <li routerLink="/vdum"><span class="sidebar-title">5.4.5. User Miscroservice</span></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li class="p-link" routerLink="">
        <span class="sidebar-title">6. Documento De Acrónimos y Abreviaturas</span>
      </li>
      <li class="p-link" routerLink="">
        <span class="sidebar-title">7. Referencias </span>
      </li>
      <li class="p-link level1">
        <span class="sidebar-title">Vistas Por Microservicios</span>
        <div class="sidebar-arrow"><i class="fas fa-caret-down"></i></div>
        <div class="side-sublinks">
          <ul>
            <li class="p-link" routerLink="/vcontex"><span class="sidebar-title">General</span></li>
            <li class="p-link level2">
              <span class="sidebar-title">Search Microservice</span>
              <div class="sidebar-arrow"><i class="fas fa-caret-down"></i></div>
              <div class="side-sublinks sub-level2">
                <ul>
                  <li class="p-link" routerLink="/vfsm"><span class="sidebar-title">Vista Funcional</span></li>
                  <li class="p-link" routerLink="/vdsm"><span class="sidebar-title">Vista De Despliegue</span></li>
                  <li class="p-link" routerLink="/vism"><span class="sidebar-title">Vista De Información</span></li>
                  <!-- <li class="p-link" routerLink=""><span class="sidebar-title">Vista De Concurrencia</span></li> -->
                </ul>
              </div>
            </li>
            <li class="p-link level2">
              <span class="sidebar-title">Booking Microservice</span>
              <div class="sidebar-arrow"><i class="fas fa-caret-down"></i></div>
              <div class="side-sublinks sub-level2">
                <ul>
                  <li class="p-link" routerLink="/vfbm"><span class="sidebar-title">Vista Funcional</span></li>
                  <li class="p-link" routerLink="/vdbm"><span class="sidebar-title">Vista De Despliegue</span></li>
                  <li class="p-link" routerLink="/vibm"><span class="sidebar-title">Vista De Información</span></li>
                  <!-- <li class="p-link" routerLink=""><span class="sidebar-title">Vista De Concurrencia</span></li> -->
                </ul>
              </div>
            </li>
            <li class="p-link level2">
              <span class="sidebar-title">Payments Microservice</span>
              <div class="sidebar-arrow"><i class="fas fa-caret-down"></i></div>
              <div class="side-sublinks sub-level2">
                <ul>
                  <li class="p-link" routerLink="/vfpm"><span class="sidebar-title">Vista Funcional</span></li>
                  <li class="p-link" routerLink="/vdpm"><span class="sidebar-title">Vista De Despliegue</span></li>
                  <li class="p-link" routerLink="/vipm"><span class="sidebar-title">Vista De Información</span></li>
                  <!-- <li class="p-link" routerLink=""><span class="sidebar-title">Vista De Concurrencia</span></li> -->
                </ul>
              </div>
            </li>
            <li class="p-link level2">
              <span class="sidebar-title">User Miscroservice</span>
              <div class="sidebar-arrow"><i class="fas fa-caret-down"></i></div>
              <div class="side-sublinks sub-level2">
                <ul>
                  <li class="p-link" routerLink="/vfum"><span class="sidebar-title">Vista Funcional</span></li>
                  <li class="p-link"routerLink="/vdum"><span class="sidebar-title">Vista De Despliegue</span></li>
                  <li class="p-link" routerLink="/vium"><span class="sidebar-title">Vista De Información</span></li>
                  <!-- <li class="p-link" routerLink=""><span class="sidebar-title">Vista De Concurrencia</span></li> -->
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li class="p-link level1" >
        <span class="sidebar-title">Sprints</span>
        <div class="sidebar-arrow"><i class="fas fa-caret-down"></i></div>
        <div class="side-sublinks">
          <ul>
            <li class="p-link level2">
              <span class="sidebar-title">Sprint 0 - Visión De Arquitectura</span>
              <div class="sidebar-arrow"><i class="fas fa-caret-down"></i></div>
              <div class="side-sublinks sub-level2">
                <ul>
                  <li class="p-link" routerLink="/restrictions"><span class="sidebar-title">Restricciones Del Proyecto</span></li>
                  <li class="p-link" routerLink="/userStories"><span class="sidebar-title">HU De Arquitecturas</span></li>
                  <li class="p-link" routerLink="/asr"><span class="sidebar-title">ASRs</span></li>
                  <li class="p-link" routerLink="/asrPriority"><span class="sidebar-title">Priorización De ASRs</span></li>
                  <li class="p-link" routerLink=""><span class="sidebar-title">Diseños De Arquitectura</span></li>
                  <li class="p-link" routerLink="/retro0"><span class="sidebar-title">Retrospectiva</span></li>
                  <li class="p-link" [routerLink]="['/video', 'sprint0']"><span class="sidebar-title">Video Sprint 0</span></li>
                </ul>
              </div>
            </li>
            <li class="p-link level2">
              <span class="sidebar-title">Sprint 1 - Latencia</span>
              <div class="sidebar-arrow"><i class="fas fa-caret-down"></i></div>
              <div class="side-sublinks sub-level2">
                <ul>
                  <li class="p-link" routerLink="/asrcLatency"><span class="sidebar-title">ASRs Consideradas</span></li>
                  <li class="p-link" routerLink="/darqSprint1"><span class="sidebar-title">Diseño De La Arquitectura</span></li>
                  <li class="p-link" routerLink="/dcdSprint1"><span class="sidebar-title">Decisiones Críticas De Diseño</span></li>
                  <li class="p-link" routerLink="/sytSprint1"><span class="sidebar-title">Estilos y Tácticas</span></li>
                  <li class="p-link" routerLink="/dexSprint1"><span class="sidebar-title">Diseño De La Experimentación</span></li>
                  <li class="p-link" routerLink="/rexSprint1"><span class="sidebar-title">Resultados Del Experimento</span></li>
                  <li class="p-link" routerLink="/rycSprint1"><span class="sidebar-title">Análisis y Conclusiones</span></li>
                  <li class="p-link" routerLink="/retroSprint1"><span class="sidebar-title">Retrospectiva</span></li>
                  <li class="p-link" [routerLink]="['/video', 'sprint1']"><span class="sidebar-title">Video Sprint 1</span></li>
                </ul>
              </div>
            </li>
            <li class="p-link level2">
              <span class="sidebar-title">Sprint 2 - Escalabilidad</span>
              <div class="sidebar-arrow"><i class="fas fa-caret-down"></i></div>
              <div class="side-sublinks sub-level2">
                <ul>
                  <li class="p-link" routerLink="/asrcSprint2"><span class="sidebar-title">ASRs Consideradas</span></li>
                  <li class="p-link" routerLink="/darqSprint2"><span class="sidebar-title">Diseño De La Arquitectura</span></li>
                  <li class="p-link" routerLink="/dcdSprint2"><span class="sidebar-title">Decisiones Críticas De Diseño</span></li>
                  <li class="p-link" routerLink="/eytSprint2"><span class="sidebar-title">Estilos y Tácticas</span></li>
                  <li class="p-link" routerLink="/dexpSprint2"><span class="sidebar-title">Diseño De La Experimentación</span></li>
                  <li class="p-link" routerLink="/rexpSprint2"><span class="sidebar-title">Resultados Del Experimento</span></li>
                  <li class="p-link" routerLink="/rycSprint2"><span class="sidebar-title">Análisis y Conclusiones</span></li>
                  <li class="p-link" routerLink="/retroSprint2"><span class="sidebar-title">Retrospectiva</span></li>
                  <li class="p-link" [routerLink]="['/video', 'sprint2']"><span class="sidebar-title">Video Sprint 2</span></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
