<div class="component-title">
  <h1>5.2.2. Search Microservice</h1>
  <h3>Vista Funcional</h3>
  <div class="line-component-title"></div>
</div>

<div class="title-separator"></div>

Microservicio encargado de hacer las consultas de los parqueaderos por diferentes criterios.

<div class="subtitle-separator"></div>

<h4>5.2.2.1. Latencia </h4>
<div class="subtitle-separator"></div>

<h5>5.2.2.1.1. Modelo Componente Conector</h5>

<p class="text">
  En este modelo vemos cómo se comunican los diferentes componentes del microservicio de búsqueda de parqueaderos.
  Podemos ver que el cliente le pasa un query de graphql al resolver, un Apollo Server, quien se comunica con el componente encargado
  de comunicarse, mediante un ORM, con la base de datos y/o el caché para resolver la consulta. Si es una consulta por un
  criterio estático como la localidad, el ORM se comunica directamente con el caché, de lo contrario le pide a la BD que
  resuelva la operación
</p>

<div class="subtitle-separator"></div>

<table>
  <tr>
    <th>Convenciones</th>
    <th>Diargrama - Componente Conector</th>
  </tr>
  <tr>
    <td width="20%">
      <div class="img1">
        <img src="./assets/img/search/imgsr2.png" alt="Vista funcional microservicio Payment" width="90%">
      </div>
    </td>
    <td width="80%">
      <div class="img1">
        <img src="./assets/img/search/imgsr1.png" alt="Vista funcional microservicio Search" width="90%">
      </div>
    </td>
  </tr>
</table>

<div class="subtitle-separator"></div>

<h4>5.2.2.2. Disponibilidad </h4>
<div class="subtitle-separator"></div>

<h5>5.2.2.2.1. Modelo Componente Conector</h5>

<p class="text">
  Para favorecer la disponibilidad de software en el microservicio de búsquedas se decidió incluir componentes que
  permitan monitorear su estado transaccional a través de un monitor (Apollo engine) que está midiendo el comportamiento de
  las solicitudes que llegan al enrutador de microservicios (Apollo server) para que, según los umbrales de concurrencia
  generará una alerta para iniciar labores de prevención (Habilitar instancias adicionales) o de recuperación
  (Indicar al resolver cuales son las instancias habilitadas después de la falla total del microservicio). La inclusión
  del componente de logs permitirá evaluar el comportamiento en ejecución del microservicio para que en caso de que se
  presenten determinadas fallas, se generen alertas para iniciar labores de recuperación o de prevención. Estas alertas se
  enviarán a través de un componente de mensajes (Sendgrid) a las personas encargadas de la administración del sistema.
</p>

<table>
  <tr>
    <th>Convenciones</th>
    <th>Diargrama - Componente Conector</th>
  </tr>
  <tr>
    <td width="20%">
      <div class="img1">
        <img src="./assets/img/search/imgsr2.png" alt="Vista funcional microservicio Payment" width="90%">
      </div>
    </td>
    <td width="80%">
      <div class="img1">
        <img src="./assets/img/search/imgsd1.png" alt="Vista funcional microservicio Search" width="90%">
      </div>
    </td>
  </tr>
</table>

<div class="subtitle-separator"></div>

<h4>5.2.2.3. Seguridad </h4>
<div class="subtitle-separator"></div>

<h5>5.2.2.3.1. Modelo Componente Conector</h5>

<p class="text">
  Para favorecer la disponibilidad de software en el microservicio de búsquedas se decidió incluir componentes que permitan monitorear su estado transaccional a través de un monitor (Apollo engine) que está midiendo el comportamiento de las solicitudes que llegan al enrutador de microservicios (Apollo server) para que, según los umbrales de concurrencia generará una alerta para iniciar labores de prevención (Habilitar instancias adicionales) o de recuperación (Indicar al resolver cuales son las instancias habilitadas después de la falla total del microservicio). La inclusión del componente de logs permitirá evaluar el comportamiento en ejecución del microservicio para que en caso de que se presenten determinadas fallas, se generen alertas para iniciar labores de recuperación o de prevención. Estas alertas se enviarán a través de un componente de mensajes (Sendgrid) a las personas encargadas de la administración del sistema.
</p>

<table>
  <tr>
    <th>Convenciones</th>
    <th>Diargrama - Componente Conector</th>
  </tr>
  <tr>
    <td width="20%">
      <div class="img1">
        <img src="./assets/img/search/imgsr2.png" alt="Vista funcional microservicio Payment" width="90%">
      </div>
    </td>
    <td width="80%">
      <div class="img1">
        <img src="./assets/img/search/imgsec1.png" alt="Vista funcional microservicio Search" width="90%">
      </div>
    </td>
  </tr>
</table>
