<div class="component-title">
  <h1>ASRs Consideradas En El Sprint 3</h1>
  <div class="line-component-title"></div>
</div>

<div class="title-separator"></div>

En esta sección presentamos los ASR consideradas para satisfacer los requerimientos de disponibilidad  de la arquitectura.
El objetivo es determinar los puntos de sensibilidad para determinar si las decisiones de arquitectura que se han
tomado van por buen camino.

<div class="subtitle-separator"></div>

<h5>ASRs Consideradas</h5>

<br>

<table>
  <thead>
  <tr>
    <th>
      Código
    </th>
    <th>
      Descripción
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>ASR02</td>
    <td>Como propietario, cuando cargue los datos de parqueaderos dado que el sistema opera en modo normal quiero que aparezca la oferta para que los clientes puedan visualizarlas disponibles. Esto debe suceder en el 99,99 % de las veces.​</td>
  </tr>
  <tr>
    <td>ASR20</td>
    <td>Como usuario, cuando aplique a una reserva dado que el sistema opera en modo sobrecarga quiero poder reservar un parqueadero para dejar mi carro cerca al trabajo. Esto debe suceder el 99.999% de las veces.</td>
  </tr>
  <tr>
    <td>ASR21</td>
    <td>Como usuario, cuando realice una búsqueda dado que el sistema opera normalmente quiero buscar parqueaderos dados los criterios: (Dirección, zona, tipo vehículo) para ver los parqueaderos más cercanos. Esto debe suceder el 99.999% de las veces.</td>
  </tr>
  </tbody>
</table>
