<div class="component-title">
  <h1>5.5.2. Search Microservice</h1>
  <h3>Vista De Despliegue</h3>
  <div class="line-component-title"></div>
</div>

<div class="title-separator"></div>

<h4>5.5.2.1. Latencia</h4>
<div class="subtitle-separator"></div>

<h5>5.5.2.1.1. Modelo De Asignación</h5>

<p class="text">
  En este modelo ya hacemos evidente dónde va a estar alojado cada uno de los componentes del microservicio y cómo éstos
  se van a comunicar. El resolver Apollo Server va a correr en 1 o 3 instancias dependiendo de la demanda.
  Este se comunica resuelve el query comunicándose con el microservicio de búsqueda median RESTful requests.
  El microservicio de búsqueda también va a estar corriendo de 1 a 3 instancia dependiendo de la demanda. Estas
  instancias serán dynos standard de heroku que corren Ubuntu 18.x y tienen alrededor de 512MB de RAM cada uno.
  <br><br>
  Por el otro lado, se tiene un cluster de bases de datos no relacionales MongoDB con RAM Variable con
  alrededor de 1GB de almacenamiento. Estos son escalan horizontal y verticalmente dependiendo de la demanda. El cluster
  lo va a proveer mLab. Como caché, se va a usar un cluster de instancias de Redis con un 1 Proxy server y un bucket size de
  500MB. Este también escala con base en la demanda.
</p>

<div class="subtitle-separator"></div>

<table class="table-diagrama">
  <tr>
    <th>Convenciones</th>
    <th>Diargrama - Modelo De Asignación</th>
  </tr>
  <tr>
    <td width="20%">
      <div class="img1">
        <img src="./assets/img/user/user2.png" alt="Vista De Despliegue microservicio Search" width="90%">
        <img src="./assets/img/user/user4.png" alt="Vista De Despliegue microservicio Search" width="90%">
      </div>
    </td>
    <td width="80%">
      <div class="img1">
        <img src="./assets/img/search/imgsr3.png" alt="Vista De Despliegue microservicio Search" width="90%">
      </div>
    </td>
  </tr>
</table>

<div class="subtitle-separator"></div>

<h4>5.5.2.2. Disponibilidad</h4>
<div class="subtitle-separator"></div>

<h5>5.5.2.2.1. Modelo De Asignación</h5>

<p class="text">
  los componentes de monitoreo (Apollo engine y New Relick) se incluyeron para revisar los estados transaccionales y de
  ejecución de los microservicios. Dependiendo de los eventos se generarán alertas que indicarán una posible falla de los
  microservicios que afecte su disponibilidad.
</p>

<div class="subtitle-separator"></div>

<table class="table-diagrama">
  <tr>
    <th>Convenciones</th>
    <th>Diargrama - Modelo De Asignación</th>
  </tr>
  <tr>
    <td width="20%">
      <div class="img1">
        <img src="./assets/img/user/user2.png" alt="Vista De Despliegue microservicio Search" width="90%">
        <img src="./assets/img/user/user4.png" alt="Vista De Despliegue microservicio Search" width="90%">
      </div>
    </td>
    <td width="80%">
      <div class="img1">
        <img src="./assets/img/search/imgsd2.png" alt="Vista De Despliegue microservicio Search" width="90%">
      </div>
    </td>
  </tr>
</table>

<div class="subtitle-separator"></div>

<h4>5.5.2.3. Seguridad</h4>
<div class="subtitle-separator"></div>

<h5>5.5.2.3.1. Modelo De Asignación</h5>

<p class="text">
  En este modelo ya hacemos evidente dónde va a estar alojado cada uno de los componentes del microservicio y cómo éstos se van a comunicar.
  <br><br>
  El API management va a ser el único punto de contacto para exponer servicios HTTP, debido a que este nos ofrece la interconexión de módulos y aplicaciones, facilitando el acceso a sus backends y permitiendo la reutilización de servicios. Esta instancia serán dynos standard de heroku que corren Ubuntu 18.x y tienen alrededor de 512MB de RAM.
  <br><br>
  El resolver Apollo Server va a correr en 1 o 3 instancias dependiendo de la demanda. Este se comunica resuelve el query comunicándose con el microservicio de búsqueda de parqueaderos mediante RESTful requests. El microservicio de usuario también va a estar corriendo de 1 a 3 instancia dependiendo de la demanda. Estas instancias serán dynos standard de heroku que corren Ubuntu 18.x y tienen alrededor de 512MB de RAM cada uno.
  <br><br>
  Por el otro lado, se tiene un cluster de bases de datos no relacionales MongoDB con RAM Variable con alrededor de 1GB de almacenamiento. Estos son escalan horizontal y verticalmente dependiendo de la demanda. El cluster lo va a proveer mLab. Como caché, se va a usar un cluster de instancias de Redis con un 1 Proxy server y un bucket size de 500MB. Este también escala con base en la demanda.
  <br><br>
  Como parte de la solución para enrutar y gestionar el tráfico del crecimiento horizontal tenemos Load Balancing que nos permite enrutar los requests de los clientes a las diferentes instancias la cual vamos a crecer a medida del volumen de carga al cual vamos a estar operando.
  <br><br>
  Otros dos sistemas fundamentales que llegan a hacer parte de la solución es la utilización del monitoreo continúo apoyados de new relic y log de eventos apoyados de elasticsearch, esto con el fin de asegurar el correcto funcionamiento del microservicio y sus componentes en tiempo de ejecución, estos sistemas los adicionamos para que sirvieran de apoyo en la identificación de la salud y el rendimiento de los recursos en ejecución.
</p>

<div class="subtitle-separator"></div>

<table class="table-diagrama">
  <tr>
    <th>Convenciones</th>
    <th>Diargrama - Modelo De Asignación</th>
  </tr>
  <tr>
    <td width="20%">
      <div class="img1">
        <img src="./assets/img/user/user2.png" alt="Vista De Despliegue microservicio Search" width="90%">
        <img src="./assets/img/user/user4.png" alt="Vista De Despliegue microservicio Search" width="90%">
      </div>
    </td>
    <td width="80%">
      <div class="img1">
        <img src="./assets/img/search/imgsec2.png" alt="Vista De Despliegue microservicio Search" width="90%">
      </div>
    </td>
  </tr>
</table>
