<div class="component-title">
  <h1>DOCUMENTO DE ARQUITECTURA NIDOO</h1>
  <h2>NIDOO SAD</h2>
  <div class="line-component-title"></div>
</div>

<div class="title-separator"></div>

<div id="project-description">
  Este documento es el resultado de la definición de
  arquitectura de software y diseño para el sistema
  NIDOO, que se desarrolla como un proyecto principal
  de la materia de arquitecturas de software ágiles del semestre 201820. En este sitio están
  contenidos los modelos y diagramas que sirven
  como base para el desarrollo del sistema y que están
  basados en los requerimientos previamente definidos
  y especificados en el documento del proyecto del curso.
</div>

<div class="subtitle-separator"></div>

<div id="document-information">
  <h3>Información del documento:</h3>
  <table width="80%">
    <tr>
      <td width="30%">Versión</td>
      <td width="70%" align="right">1.0</td>
    </tr>
    <tr>
      <td width="30%">Cliente</td>
      <td width="70%" align="right">NIDOO</td>
    </tr>
    <tr>
      <td width="30%">Curso</td>
      <td width="70%" align="right"> Arquitecturas De Software Ágiles - 201820</td>
    </tr>
    <tr>
      <td width="30%">Grupo</td>
      <td width="70%" align="right"> 201820-Repo-Grupo-03</td>
    </tr>
    <tr>
      <td width="30%">Universidad</td>
      <td width="70%" align="right"> Universidad De Los Andes</td>
    </tr>
    <tr>
      <td width="30%">Facultad</td>
      <td width="70%" align="right"> Facultad De Ingeniería</td>
    </tr>
    <tr>
      <td width="30%">Fecha</td>
      <td width="70%" align="right"> Octubre 10 de 2018</td>
    </tr>
  </table>
</div>

<div class="subtitle-separator"></div>

<div id="members">
  <h3>Estudiantes: </h3>
  <table with="90%">
    <tr>
      <th>Nombre</th>
      <th>Maestría</th>
      <th>Universidad</th>
    </tr>
    <tr>
      <td width="40%">Camilo Alejandro Vargas Tovar</td>
      <td width="20%" align="right"> MATI</td>
      <td width="40%" align="right"> Universidad De Los Andes</td>
    </tr>
    <tr>
      <td width="40%">José Alfredo De La Rosa Fontalvo</td>
      <td width="20%" align="right"> MBIT</td>
      <td width="40%" align="right"> Universidad De Los Andes</td>
    </tr>
    <tr>
      <td width="40%">Juan Jos[e Villegas Pabon</td>
      <td width="20%" align="right"> MISO</td>
      <td width="40%" align="right"> Universidad De Los Andes</td>
    </tr>
    <tr>
      <td width="40%">Wilmer Armando Rubio Rojas</td>
      <td width="20%" align="right"> MISO</td>
      <td width="40%" align="right"> Universidad De Los Andes</td>
    </tr>
  </table>
</div>
