<div class="component-title">
  <h1>Documento De Arquitectura De Software NIDOO</h1>
  <h2>NIDOO SAD</h2>
  <div class="line-component-title"></div>
</div>

<div class="title-separator"></div>

<div id="project-description">
  Este documento es el resultado de la definición de
  arquitectura de software y diseño para el sistema
  NIDOO, que se desarrolla como un proyecto principal
  de la materia de arquitecturas de software ágiles del semestre 201820. En este sitio están
  contenidos los modelos y diagramas que sirven
  como base para el desarrollo del sistema y que están
  basados en los requerimientos previamente definidos
  y especificados en el documento del proyecto del curso.
</div>

<div class="subtitle-separator"></div>

<div id="members">
  <h3>Estudiantes: </h3>
  <ul>
    <li>Jose De la Rosa: Estudiante de la maestría MBIT, Universidad De Los Andes</li>
    <li>Juan: Estudiante de la maestría MISO, Universidad De Los Andes</li>
    <li>Camilo De la Rosa: Estudiante de la maestría MATI, Universidad De Los Andes</li>
    <li>Wilmer A. Rubio Rojas: Estudiante de la maestría MISO, Universidad De Los Andes</li>
  </ul>
</div>
