<div class="component-title">
  <h1>ASRs Consideradas En El Sprint 1</h1>
  <div class="line-component-title"></div>
</div>

<div class="title-separator"></div>

En esta sección presentamos los ASR consideradas para satisfacer los requerimientos de Latencia de la arquitectura.
El objetivo es determinar los puntos de sensibilidad para determinar si las decisiones de arquitectura que se han
tomado van por buen camino.

<div class="subtitle-separator"></div>

<h5>ASRs Consideradas</h5>

<br>

<table>
  <thead>
    <tr>
      <th>
        Código
      </th>
      <th>
        Descripción
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ASR10</td>
      <td>	Como usuario, cuando aplique a una reserva dado que el sistema opera en modo sobrecarga quiero poder reservar un parqueadero para dejar mi carro cerca al trabajo. Esto debe suceder entre 3 a 5 segundos.</td>
    </tr>
    <tr>
      <td>ASR11</td>
      <td>Como usuario, cuando necesite cancelar mi reserva, dado que el sistema opera normalmente, quiero que el sistema me responda entre 2 y 3 segundos si la cancelación fue exitosa o no.</td>
    </tr>
    <tr>
      <td>ASR16</td>
      <td>Como usuario, cuando realice una búsqueda dado que el sistema opera normalmente quiero buscar parqueaderos dados los criterios: (Dirección, zona, tipo vehículo) para ver los parqueaderos más cercanos. Esto debe suceder entre 1 y 2 segundos.</td>
    </tr>
  </tbody>
</table>
